[2014-04-10 15:36] javigomez opened #1 "When creating new language, main file is not proposed for translation"
When we create a new language, the main ini file xx-XX.ini (in admin and site) is not proposed to translation

[2014-04-10 15:55] javigomez opened #2 "review file headers"
All the file headers should look like:

[code]

Where XXX can be: controller, model...

[2014-04-10 16:03] javigomez opened #3 "Create the package generator"
This tool will generate the language packages from the files in the system

Currently we have this view: administrator/index.php?option=com_localise&view=packages

![screen shot 2014-05-30 at 14 11 03](https://cloud.githubusercontent.com/assets/1375475/3130197/6ce9ae62-e7f3-11e3-977e-a0b4508af924.png)

The goal of this view is to allow us to generate a language package, right now is not working we

[2014-04-10 16:18] infograf768 opened #4 "Wrong status for some ini files"
Some ini files are displayed as not existing in reference language although they are.
Example in site: com_messages

It looks like this is due to the fact that there is no com_messages in front-end

[2014-04-10 16:22] infograf768 commented on #3
At this stage we need to:
- create an install.xml for site and different one for admin
- then .zip the site folder, then zip the admin folder
- add a pkg xml with 4 digits version and .zip the 3 parts.

See: http://docs.joomla.org/J3.2:Making_a_Language_Pack_for_Joomla

[2014-04-10 16:27] infograf768 opened #6 "Displaying the Comments"
To display the comments is necessary. It was never implemented.
As well, no way to uncomment some strings

[2014-04-10 16:28] infograf768 opened #7 "Adding supplementary strings on the fly"
We need this for plurals.
Already, the interface displays the strings which are present in the file edited but not in the reference file

[2014-04-10 17:47] phproberto commented on #6
Can you specify where can't you see the comments? Apparently I can see and modify them?

![editor-comments](https://cloud.githubusercontent.com/assets/1119272/2671209/0bfee172-c0d8-11e3-8fa8-7270f015604f.png)

[2014-04-11 06:35] infograf768 opened #15 "Take into account localise.php, css file as well as specific js to add in media"
If impossible to edit them in com_localise, these files should also be included in the package by browsing when package making.
The css is used to replace the main font in back-end for readability (Arabic)
The js concern Calendar. See Persian pack.

[2014-04-11 06:44] infograf768 commented on #6
Roberto, you are showing here the Editor part which is usually only used in case of parsing error, not the Translation tool of com_localise.
I wish we could also see them in this UI:
Example plg_recaptcha.ini
We have

![screen shot 2014-04-11 at 08 42 30](https://cloud.githubusercontent.com/assets/869724/2676897/bb1437a4-c144-11e3-82e5-2bb59087aad8.png)

It is true though that ine can use the edit

[2014-04-11 06:48] infograf768 commented on #3
Also see:
https://github.com/joomla-projects/com_localise/issues/15

[2014-04-11 09:01] phproberto opened #16 "Controllers: getting client"
We have to review this way of getting client:
https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/controllers/language.php#L75-L92

Also check the tag later.

[2014-04-11 09:11] phproberto opened #17 "Models: Use getUserStateFromRequest on populateState"
In some models I saw that component is wrongly populating model state. Example:

https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/models/downloadpackage.php#L29-L30

To populate the state we should be using something like this:

[code]

Then we can probably remove the `getForm()` method that is double checking the data in session.

[2014-04-23 17:06] javigomez opened #25 "Move all JRequests to JInput"
There is still some uses of JRequests, needs to be moved to JInput https://github.com/joomla-projects/com_localise/search?q=JRequest&ref=cmdform&type=Code

[2014-04-23 17:09] javigomez opened #26 "Folders and files starting by --"
There are several files and folders starting by "--"

I haven't check what does it means but much probably we are not using it and can be removed. See this examples:

https://github.com/joomla-projects/com_localise/tree/develop/administrator/components/com_localise/models

[2014-04-24 06:52] infograf768 commented on #26
--archive.php is the only one which does not exist without the "--"

[2014-04-25 09:01] javigomez opened #31 "System tests base"
- [ ] Add joomla-cms as a submodule
- [ ] Add the test that installs Joomla
- [ ] Add a test that installs com_localise

@puneet0191 I think this task could be done by you ^_^

[2014-05-07 10:05] gunjanpatel opened #32 "Error after installing component"
I have create package using `sh build.sh` file and tried to install `packages/com_localise.zip`
Installed successfully but after installing found error below.
Did I forget something?

![error](https://cloud.githubusercontent.com/assets/2002921/2900965/8c6dddee-d5ce-11e3-8d42-41f5461f63e5.png)

[2014-05-07 10:08] mbabker commented on #32
Looks like a malformed SQL query in the code somewhere.

On Wednesday, May 7, 2014, Gunjan Patel notifications@github.com wrote:

[2014-05-07 11:55] gunjanpatel commented on #32
Pull Request #33 fixes this issue. But found **Fatal error: Call to undefined method SimpleXMLElement::name() in /var/www/html/jcms3/administrator/components/com_localise/models/language.php on line 196** after fixing. (not related, but just reporting)

[2014-05-07 16:22] #32 closed, assigned to nobody

[2014-05-20 19:25] javigomez opened #38 "Missing button delete at toolbar"
There is a delete button before every element in the "languages list":

![screen shot 2014-05-20 at 21 23 33](https://cloud.githubusercontent.com/assets/1375475/3032151/2d42a36e-e054-11e3-90bd-aab45a52bd10.png)

But as the normal Joomla toolbar, I suggest to create a delete button in toolbar:
![screen shot 2014-05-20 at 21 25 27](https://cloud.githubusercontent.com/assets/1375475/3032172/68d2c738-

[2014-05-20 19:27] javigomez opened #39 "Remove language doesn't works"
Issue at: administrator/index.php?option=com_localise&view=languages

When I click on removing a language:
![screen shot 2014-05-20 at 21 27 54](https://cloud.githubusercontent.com/assets/1375475/3032203/b9ecac92-e054-11e3-8a29-4d25d658ab6f.png)

I get this:

![screen shot 2014-05-20 at 21 27 10](https://cloud.githubusercontent.com/assets/1375475/3032198/afbfe19e-e054-11e3-951e-7243c0103043.png)

[2014-05-20 19:29] javigomez opened #40 "Missing description for TAG"
Issue at: administrator/index.php?option=com_localise&view=language&layout=edit&client=site&tag=

This description is not correct:
![screen shot 2014-05-20 at 21 28 41](https://cloud.githubusercontent.com/assets/1375475/3032220/e1705822-e054-11e3-9ff8-88427a793c20.png)

It should say something that explains that we are referring to this:
https://github.com/joomla-projects/translate-joomla#standard

[2014-05-20 19:32] javigomez opened #41 "Original authors need to be referenced"
We need to find a solution for this: https://github.com/joomla-projects/com_localise/pull/19#issuecomment-40621803

[2014-05-30 09:41] javigomez opened #43 "Tests languages view"
Create the page and the test class for:
administrator/index.php?option=com_localise&view=languages

[2014-05-30 09:59] infograf768 commented on #39
I confirm. This is weird as the session check is similar to other comp in J

[2014-05-30 10:13] javigomez opened #44 "Fix performance issues"
Currently the first load of com_localise starts processes all the .ini causing very poor performance. In some servers you get timeouts.

We need to study the current component and find a solution that makes it more performant. Maybe the solution could be an AJAX view that processes step by step all the things that needs to be done.

[2014-05-30 10:44] javigomez opened #45 "Localise crashes when reading a wrong date"
Com_localise reads the date of the packages:

![screen shot 2014-05-30 at 12 28 52](https://cloud.githubusercontent.com/assets/1375475/3129608/a9c8b240-e7e6-11e3-89e4-4bf8dd68199f.png)

The problem is that when the date in the XML is not in american format it causes a crash in com_localise. To reproduce try to modify the creation date in the .XML manifest file of a language package and then make c

[2014-05-30 10:46] javigomez opened #46 "System tests for translation"
Create system tests for administrator/index.php?option=com_localise&view=translations

![screen shot 2014-05-30 at 12 46 56](https://cloud.githubusercontent.com/assets/1375475/3129664/a03303ce-e7e7-11e3-938e-6d9b4c2b9ced.png)

[2014-05-30 10:48] javigomez opened #47 "System tests for Packages vew"
Create system tests for packages view:
administrator/index.php?option=com_localise&view=packages

![screen shot 2014-05-30 at 12 48 08](https://cloud.githubusercontent.com/assets/1375475/3129676/dda0fec8-e7e7-11e3-9684-be0759dd8e1e.png)

Note: leave this task for the end because the packages view is not yet finished

[2014-05-30 10:49] javigomez commented on #41
Fixed at #42. Closing

[2014-05-30 10:49] #41 closed, assigned to nobody

[2014-05-30 10:50] javigomez commented on #26
Closing since this was fixed at #42

[2014-05-30 10:50] #26 closed, assigned to nobody

[2014-05-30 10:52] javigomez commented on #25
There is still a couple of places were JRequest needs to be switched to Jinput https://github.com/joomla-projects/com_localise/search?q=jrequest&type=Code

Assigning it to @gunjanpatel  for tomorrow working table

[2014-05-30 10:53] javigomez commented on #17
assigning to @gunjanpatel

[2014-05-30 10:55] javigomez commented on #16
assigning it to @gunjanpatel

[2014-05-30 12:04] javigomez commented on #44
After installing 3 languages and trying to load the component I got this:
![screen shot 2014-05-30 at 14 02 18](https://cloud.githubusercontent.com/assets/1375475/3130134/4984e4b0-e7f2-11e3-9654-69582480c0f4.png)

[2014-05-30 12:05] javigomez commented on #44
If you reload the page about 3 times you will get the screen again :P

[2014-05-30 12:36] mbabker commented on #44
I'm thinking of the same thing with my overhauling of com_patchtester.  I was going to take the indexer from com_finder and use that as a model to create a multi-step processor.

[2014-05-30 13:21] javigomez opened #48 "Move reference language to every language"
We have this in the options of the component:
![screen shot 2014-05-30 at 14 31 44](https://cloud.githubusercontent.com/assets/1375475/3130343/6286c0ec-e7f6-11e3-8b6b-a47b115a898f.png)

This is used to show the suggested string by Bing translator:
![screen shot 2014-05-30 at 15 11 17](https://cloud.githubusercontent.com/assets/1375475/3130695/d543d958-e7fb-11e3-828b-8d5a9fa364ac.png)

So if I crea

[2014-05-30 13:24] javigomez opened #49 "Create help screen for languages"
Create help screen for:
https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.languages.html

![screen shot 2014-05-30 at 15 24 38](https://cloud.githubusercontent.com/assets/1375475/3130843/a7f552cc-e7fd-11e3-8a0b-387eddf08878.png)

[2014-05-30 13:28] javigomez opened #50 "Create help screen for language"
Create help screen for:
https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.language.html

![screen shot 2014-05-30 at 15 24 38](https://cloud.githubusercontent.com/assets/1375475/3130843/a7f552cc-e7fd-11e3-8a0b-387eddf08878.png)

[2014-05-30 13:30] javigomez opened #51 "Create help screen for translation screen"
Create help screen for translation: https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.translation.html

page: administrator/index.php?option=com_localise&view=translation

[2014-05-30 13:35] javigomez opened #52 "Create help screen for translations"
Create help screen for https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.translations.html

view: administrator/index.php?option=com_localise&view=translations

[2014-05-30 14:47] javigomez opened #53 "Create help screen for Packages"
Create https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.packages.html

[2014-05-30 14:48] javigomez opened #54 "Create help screen for Package"
Create this help page: administrator/index.php?option=com_localise&view=packages

https://github.com/joomla-projects/com_localise/blob/develop/administrator/components/com_localise/help/en-GB/screen.package.html

[2014-05-30 14:53] javigomez opened #55 "system testing running in parallel"
This task consist in work together between @gibilogic and @puneet0191 to create the base classes to use https://github.com/facebook/php-webdriver library instead of current Nearsoft based Joomla classes (https://github.com/joomla/joomla-cms/tree/staging/tests/system/webdriver see (SeleniumClient)

[2014-05-30 15:22] javigomez opened #56 "Refactor the place where SQL files are"
Right now the folder structure for the SQL files is not good, please refactor the component so it follows the standard folder structure:

/ component / admin / sql / install / mysql /
and
/ component / admin / sql / updates / mysql /

remember to update the XML manifest ^_^

[2014-05-30 15:30] javigomez commented on #45
Please check the bug at the minute 3m15s of the video (ask Javier for the link to the video)

[2014-05-30 15:39] javigomez opened #57 "Sync with Github"
en-GB is usually the main language for translating, it would be nice if we can add a button to Sync the en-GB language and get the latest version from Github at:
- in the installer: https://github.com/joomla/joomla-cms/tree/staging/installation/language
- the administrator: https://github.com/joomla/joomla-cms/tree/staging/administrator/language/en-GB
- and the frontend: https://github.com/joomla/

[2014-05-31 07:28] #2 closed, assigned to gunjanpatel

[2014-05-31 08:43] infograf768 commented on #53
I guess we first have to implement the packaging as should

[2014-05-31 08:44] infograf768 commented on #48
Reference language can be changed for each lang to work on.
I would leave this as is.

[2014-05-31 08:54] infograf768 commented on #45
I have corrected the installation xml files since (Polish had a utf8 month in it).
Agree we need a solution. We could simply never use the calendar for that field.

[2014-05-31 09:39] infograf768 commented on #57
As long as this sync is NOT automatic, to let translators choose the version of the reference files.

[2014-05-31 13:44] javigomez opened #60 "Review the status of ICONS"
Review the current status of icons in the "Icons" at translations screen and report the issues that needs to be fixed

[2014-05-31 13:57] carcam opened #61 "3rd party icon being displayed always"
When accessing translations view (administrator/index.php?option=com_localise&view=translations) 3rd party icon is appearing in core language files.

[2014-05-31 14:10] carcam opened #64 "In translations view Icon button always appears"
In translation views Icon button always appears even though icon does not appear because it's not needed.
![selection_050](https://cloud.githubusercontent.com/assets/1695138/3139181/518fe638-e8cd-11e3-8e96-c2ec40f38bee.png)

[2014-05-31 14:14] carcam opened #65 "Replace Translated icon with translation percentage in translations view"
In translations view (administrator/index.php?option=com_localise&view=translations) replace cog icon for translated column with translation percentage

[2014-05-31 14:20] javigomez opened #68 "fix columns in language list"
link to text editor and to strings need to be more clear

[2014-05-31 14:23] javigomez opened #69 "update codemirror library to the latest version"

[2014-05-31 14:27] pvullioud commented on #69
update from codemirror 3.2 to 4.2

[2014-05-31 14:28] carcam opened #70 "Fix columns in translations view"
In translations view (administrator/index.php?option=com_localise&view=translations) replace current columns and icons with this structure:

Tag | Translation name | Translated | Storage / Path | Strings / Phrases | Author | Type | info

Tag: Language tag
Translated: Percentage of wokr done
Storage/Path: Path of the language file
Strings /Phrases: Number of strings language files contains
Author :

[2014-05-31 14:31] javigomez opened #71 "Add color legend to screens"
at 14m50s in the video we see the languages list and also the translation list, they have a colour for every status:

green => translated,
orange => translated but warning because the origin and translated are the same
red => is not tranlsated or is wrong

I suggest that we create a legend at the top of the screen that describes what the color does

[2014-05-31 15:12] aDaneInSpain opened #74 "Bing automatic translation does not work"
I am not exactly sure what is going wrong but it does not work. There are no JS errors.

index.php?option=com_localise&view=translation&layout=edit

Clicking on the bing button should automatically translate the sentence.

[2014-05-31 15:24] aDaneInSpain opened #75 "Help button does not work"
Clicking the help button does not return any help info

http://help.joomla.org/proxy/index.php?option=com_help&keyref=Help33:JHELP_COMPONENTS_com_localise_OPTIONS

[2014-05-31 15:51] aDaneInSpain commented on #39
I will look into this one. #jab14

[2014-05-31 16:29] #68 closed, assigned to pvullioud

[2014-05-31 16:32] #40 closed, assigned to aDaneInSpain

[2014-05-31 16:41] #31 closed, assigned to puneet0191

[2014-05-31 20:50] aDaneInSpain commented on #39
It is not default behaviour to delete an item by clicking a button in a list. Instead there should be a checkbox that allows selection list with a menu delete button. It is not possible to send a token id via a link so either way it should be a form submission if we want to maintain token security. Advise?

[2014-05-31 20:51] aDaneInSpain commented on #45
I forgot to close this issue in the pull request, so please close this @javigomez

[2014-05-31 20:51] mbabker commented on #39
My personal suggestion is to standardize the behavior as you would see across other CMS components, so I would remove this link.  If it's desired to keep it, you'd need it to trigger a form submission like the toolbar buttons do in order to keep the token security.

[2014-05-31 20:54] aDaneInSpain commented on #1
I don't understand this issue. When and where is the system meant to recommend that file and should it be xx-XX.ini or should it be en-GB.ini or?

[2014-06-01 09:07] aDaneInSpain commented on #39
I agree, and have started working on that Yesterday

[2014-06-01 14:06] wilsonge opened #85 "Remove JObject"
I've seen in a few places `new JObject` - we should switch to using JRegistry in several of those places.

[2014-06-01 14:19] #45 closed, assigned to aDaneInSpain

[2014-06-02 06:23] infograf768 commented on #1
The PR above corrects the issue

[2014-06-02 06:23] #1 closed, assigned to nobody

[2014-06-03 11:50] javigomez commented on #44
Thanks @mbabker. Not sure how this indexer works. I'm really interested if you could detail the idea.

Now we have not anymore performance issues at the view thanks to @Skullbock and @fastslack fix at #76. This fix removed this calculation:
![screen shot 2014-06-03 at 13 46 01](https://cloud.githubusercontent.com/assets/1375475/3159679/86adb522-eb14-11e3-9218-0d86013bc959.png)
This calculation I t

[2014-06-03 12:09] mbabker commented on #44
If on the first load, everything is getting processed and causing memory limit or timeout issues, I'd suggest making it so that you have a toolbar button you have to click to process that data.  The way the indexer works, once you click that button, it uses several AJAX requests to break up the index operation into chunks.  It uses at a minimum 3 requests; the first one just gets all the state dat

[2014-06-03 14:14] ianmacl commented on #44
Understanding the issue more, I would definitely use an asynchronous
request to populate that data.  Load up the page, and then create a request
either for each file or chunk of files.  I would probably keep the results
in local storage with an expiry date.  That way you can retrieve it later
without having to make a request unless it is stale.

If you know which files are changing you can also  i

[2014-06-03 18:06] fastslack commented on #44
The way Michael poses seems a good way, in fact it is what I use in my extensions to handle processing of large amounts of data. I use a table as a "state" reading the contents of the data (in this case would be to read the files) and record this information on the table. As the different steps are happening it call to update the various flags and index ids.

I use only one controller called "ajax

[2014-06-04 05:45] infograf768 commented on #44
Whatever the solution chosen, we absolutely need the Translated column as it tells to the user immediately which files need attention.

[2014-06-04 10:08] javigomez commented on #44
sounds good. @fastslack do you have time to do a pull with a proof of concept? if afterwards we want to rename the method or whatever we can do it later. But let's have something that works.

Once we have the AJAX working we can try to store the results as @ianmacl  said. But let's work step by step.

^_^

[2014-06-04 12:00] aDaneInSpain commented on #39
Maybe @infograf768 should implement this instead as it is kind of similar to the purge code in this https://github.com/joomla-projects/com_localise/pull/95 and I don't have much free time the next few days.

[2014-06-05 05:40] infograf768 commented on #39
The purge code has nothing to do with this. It does not delete existing xml files. It just deletes the localise table which has for result to reconstruct it the first time we get to any com_localise view after that purge.

[2014-06-05 16:14] javigomez opened #96 "Created packages doesn't work"
related to #94

If you generate the package you will get this:

![screen shot 2014-06-05 at 18 13 20](https://cloud.githubusercontent.com/assets/1375475/3190226/43afc3be-eccc-11e3-859c-2e4ed43dd232.png)

It generates a language.localise.php empty file

Also the XML is empty:
![screen shot 2014-06-05 at 18 15 26](https://cloud.githubusercontent.com/assets/1375475/3190255/7fa26cbe-eccc-11e3-8cf6-ddc

[2014-06-05 16:24] infograf768 commented on #96
@Javier
I guess you were mistaking in your test.
It does not work completely (see my comment in https://github.com/joomla-projects/com_localise/pull/94
But it does for the files we can choose in the field (here is a screnshot of part of the files)
![screen shot 2014-06-05 at 18 23 01](https://cloud.githubusercontent.com/assets/869724/3190375/c139db34-eccd-11e3-8eb0-19a63f626fc8.png)

[2014-06-06 09:44] javigomez commented on #96
Adding some important comments to take into account when creating the Package feature:

One idea suggested was that you should be able to create Joomla language packages for:
- Site,
- Admin
- and Site & Admin togethere.

The reason is that there is some tranlsations of Joomla that are only done for frontend. However @infograf768  suggest that we don't do Site or Admin individual packages but alwa

[2014-06-06 17:29] javigomez opened #99 "Document testing"
It would be awesome if you @zanardigit or @puneet0191 could create here: https://github.com/joomla-projects/com_localise/tree/develop/tests/system a readme.md file that explains step by step how to run the tests. Something like we have at http://docs.joomla.org/Running_Automated_Tests_for_the_Joomla_CMS but smaller, just with a few steps to set up.

[2014-06-07 04:48] infograf768 commented on #96
For core, indeed. All core translations for Joomla HAVE to include some admin translated files as explained here: http://docs.joomla.org/J3.x:Making_a_Language_Pack_for_Joomla#The_Site-only_pack

[2014-06-07 05:15] infograf768 commented on #96
Also: since we have implemented the format for core files with its manifest, we prevent Uninstalling languages per se (as site or admin), only full packs can be Uninstalled, as this was creating issues.

[2014-06-07 09:04] zanardigit commented on #99
Done, PR sent.

[2014-06-07 15:15] fastslack commented on #44
I ll try to get the JS stuff working with the steps table for next week. I ll need some help to move the models with the load processes because im not acquainted with the code.

[2014-06-09 09:48] #39 closed, assigned to nobody

[2014-06-09 16:00] infograf768 commented on #4
See https://github.com/joomla-projects/com_localise/pull/102

[2014-06-09 16:02] infograf768 commented on #96
Please find here https://github.com/joomla-projects/com_localise/pull/103 a temporary solution that lets create a fully usable core pack (if the xx-XX.localise.php is present)

[2014-06-09 16:28] javigomez commented on #99
Thanks, adding here the part mentioned by @puneet0191  in the pull request: https://github.com/joomla-projects/com_localise/pull/100#issuecomment-45406055

To close this issue we need some one to document how to configure the configuration file. By the way I think we forgot to add the configuration.php.dist example file like we have in joomla cms (https://github.com/redCOMPONENT-COM/redSHOP/blob/d

[2014-06-09 16:32] puneet0191 commented on #99
yes, we forgot to add that file..and isn't the configuration file self explainatory? or do we need a doucment to explain it?

[2014-06-09 16:43] javigomez commented on #99
yes, the configuration file is self-explanatory, just mention in document were the people can find the configuration file

[2014-06-09 16:45] puneet0191 commented on #99
okay, will update the document with details of configuration file

[2014-06-09 16:51] #69 closed, assigned to pvullioud

[2014-06-10 08:17] javigomez opened #104 "remove the use of JObject"
I think we can stop using JObject (see https://github.com/joomla-projects/com_localise/search?q=JObject&ref=cmdform) and use a StdClass instead, isn't it?

@gunjanpatel or @wilsonge are any of you interested in taking this task?

Thanks

[2014-06-10 09:02] wilsonge commented on #104
I think probably JRegistry is easier for now because of the sheer number of get and set methods :p

But there was some use of getProperties I saw which meant we can't do a straight swap in some areas

[2014-06-10 09:05] #96 closed, assigned to nobody

[2014-06-10 09:11] #4 closed, assigned to nobody

[2014-06-10 09:20] javigomez commented on #104
right JRegistry. ^_^

[2014-06-10 10:32] gunjanpatel commented on #104
Yes, it seems. We can't able to directly swap if we will use `JRegistry`but it is a good idea to use it, agree.

[2014-06-13 09:32] infograf768 commented on #71
We do have this in the Translation view
![screen shot 2014-06-13 at 11 31 35](https://cloud.githubusercontent.com/assets/869724/3268482/95ac2ede-f2dd-11e3-864c-bc86df4503b1.png)

[2014-06-16 08:51] javigomez opened #106 "enhance packager"
- [x] Add xx-XX.finder_cli.ini which does not follow "normal" file names.
- [ ]  Allow creation/editing of the xx-XX.localise.php, by adding it to the view and letting copy from reference in a codemirror editable instance.
- [ ] Allow creation/editing of the xx-XX.css, by adding it to the view in a codemirror editable instance.
- [ ] Allow, when making a core pack, adding some stuff in the media f

[2014-06-16 08:52] javigomez commented on #106
see related pull at #105

[2014-06-16 10:50] infograf768 commented on #65
The cog icon is only displayed when we are displaying the Reference language.
Itherwise the column rightfully displays the percentage or complete

[2014-06-16 10:50] #65 closed, assigned to nobody

[2014-06-16 13:52] javigomez commented on #44
Hi @fastslack, did you had the chance to work on some proof of concept? thanks.

[2014-06-16 13:54] javigomez commented on #74
I haven't check but I think we will have to set the Bing translator id. There is a tutorial for a similar extension here: http://www.kmel-joomla-extensions.com/support/documentation/fastrans-doc/user-manual?showall=&start=3

[2014-06-16 23:59] fastslack commented on #44
@javigomez Yes I'm working on it. Sorry for the delay but there were many things to attend last week. Surely in the next few days I'll have something to show.

On the other hand, I found an error regarding this topic. Please check the PR b52b44d that solve a bug with # __assets table that whenever we do a purge of the database, does not delete the rows related into this table. This makes that this

[2014-06-17 16:32] infograf768 commented on #70
The info is presented first. I think we now have quite a good display.
Adding the path as a sub to the view. See PR

[2014-06-17 16:37] infograf768 opened #112 "Editing or not Reference language"
As it is now, one can edit the reference language and get this error;

Error

RecursiveDirectoryIterator::__construct(/language): failed to open dir: No such file or directory
( ! ) Warning: constant(): Couldn't find constant LOCALISEPATH_ in ROOT/administrator/components/com_localise/models/translation.php on line 558

I think we just should not let edit the reference language.
What you think? PR

[2014-06-18 05:56] infograf768 commented on #61
This has been solved

[2014-06-18 05:56] #61 closed, assigned to nobody

[2014-06-18 06:35] infograf768 commented on #112
The rrors above were due to another issue, which is solved by this commit
https://github.com/joomla-projects/com_localise/commit/9688d9cb0bfcfc983b195d298bf118cf996dbdf4

[2014-06-18 09:39] #112 closed, assigned to nobody

[2014-06-19 06:09] javigomez commented on #71
ok, closing. Thanks.

Probably if we do a review of the UX with @babsgosgens we can probably find a more clear place, because the legend slider is not easy to find, at least I have not seen any user at JAB that discover it by themselves utils we mention that is there.

[2014-06-19 06:09] #71 closed, assigned to aDaneInSpain

[2014-06-19 07:39] babsgosgens commented on #71
Haven't found time yet, but will try next week.

On Thursday, June 19, 2014, javier gomez notifications@github.com wrote:

[2014-06-19 08:27] infograf768 commented on #106
finder_cli.ini done
see https://github.com/joomla-projects/com_localise/pull/113

[2014-06-19 09:25] #70 closed, assigned to nobody

[2014-06-19 09:26] #64 closed, assigned to nobody

[2014-06-19 15:08] puneet0191 opened #120 "Error While trying to delete a Language"
When We try to Delete a Language, We are getting an error messages like this

![image](https://cloud.githubusercontent.com/assets/3048593/3329094/8887bc88-f7c3-11e3-8446-6967b77ffff9.png)

[2014-06-19 15:09] javigomez commented on #120
thanks for the report

[2014-06-20 06:09] infograf768 commented on #120
Solved by the commit above https://github.com/joomla-projects/com_localise/commit/cff2def939fa518601cdf53948757017f84797ac

[2014-06-20 06:09] #120 closed, assigned to nobody

[2014-06-20 06:15] infograf768 commented on #38
I think it is safer to not let multiple language.xml be deleted.
Roberto patched and delete now works.

[2014-06-20 06:15] #38 closed, assigned to aDaneInSpain

[2014-06-20 06:22] infograf768 commented on #25
This has been done, closing

[2014-06-20 06:22] #25 closed, assigned to gunjanpatel

[2014-06-20 06:26] infograf768 commented on #3
As explained, we need 2 types of packages
One for Core, which has to contain both Site and Admin (although some admin files may not be translated for "Site only" packs.

Although both may need improvements (Specially Core), this is now implemented.
https://github.com/joomla-projects/com_localise/issues/106

[2014-06-20 06:26] #3 closed, assigned to hikashop-nicolas

[2014-06-20 06:28] #60 closed, assigned to carcam

[2014-06-20 10:33] javigomez opened #123 "Travis is failing"
PHP Fatal error:  Class 'coding-standards_Sniffs_WhiteSpace_SemicolonSpacingSniff' not found in /home/travis/.phpenv/versions/5.3.27/pear/PHP/CodeSniffer.php on line 1053

[2014-06-21 07:35] javigomez opened #126 "Add chosen in Extension Package view"
We need to add CHOSEN in the Extension Packager

![screen shot 2014-06-21 at 09 31 36](https://cloud.githubusercontent.com/assets/1375475/3348142/ed651dfa-f915-11e3-955e-e6006fd5c9e9.png)

This is the field that needs to be replaced:

![screen shot 2014-06-21 at 09 31 16](https://cloud.githubusercontent.com/assets/1375475/3348140/e26c5242-f915-11e3-8c4c-3687345343da.png)

Is a field called /fields

[2014-06-21 11:38] javigomez opened #127 "move JFormField to JFormFieldList?"
https://github.com/joomla-projects/com_localise/pull/125/files#discussion_r14049381

[2014-06-22 07:45] javigomez commented on #123
@mbabker do you know why this is failing?

[2014-06-22 07:53] javigomez opened #129 "export in package list allow to export not valid packages"
@infograf768 I just tested this export button with an empty package and it allows to download unfinished packages, please check:
http://www.youtube.com/watch?v=Eer8zVBqMyE

What are the plans for this defaults packages that are generated on install. Should we add title and the rest of the data by default?

[2014-06-22 15:16] javigomez opened #130 "fix code style issues in all files"

[2014-06-22 15:24] javigomez opened #132 "remove old comment line checks"
@infograf768, do you agree that we can remove this feature that parses commented lines: https://github.com/joomla-projects/com_localise/blob/develop/component/admin/helper.php#L67-L70

We are not goign to use this SVN headers anymore isn't it?

[2014-06-22 15:44] infograf768 commented on #132
Some Translation Teams are using SVN in collaboration and I have seen some errors where the ini had still these #.
I suggest to leave the code in case of as it does not cost much and corrects the issue when the file is saved by com_localise

[2014-06-22 15:49] mbabker commented on #123
See #133

[2014-06-22 15:49] javigomez commented on #132
I was checking this helper and I think that we are just not using it anywhere in the component. I'm going to do some more testing and I think I will remove it. Probably was a feature from the past

[2014-06-22 16:02] #123 closed, assigned to nobody

[2014-06-22 16:03] infograf768 opened #135 "*Errors when saving new package"
We have 3 errors when saving a new package
1. PHP Notice:  Undefined index: id in ROOT/libraries/legacy/controller/form.php on line 753
2. After save, we are redirected to a new empty form/page
3. Therafter, when clicking on New Core Pacakage or New Extension Package, the page loaded is not empty but filled with the content of the last package saved.

To avoid the last error, I have to quit my bro

[2014-06-22 16:11] infograf768 commented on #132
I think we do use it. It takes care of these # and of the BOM value if wrong. It lets know which reference string has changed, is extra, etc. It is a very important file for com_localise

[2014-06-22 16:40] infograf768 commented on #132
Hmm, looks like all this code is now in the translation model

[2014-06-23 15:55] #132 closed, assigned to nobody

[2014-06-23 16:19] infograf768 commented on #129
Export is broken.
My guess is that its function was initially to make the .zip (what our Download now does)

What we could do is to use it to Export the package_name.xml which is in com_localise/packages/
That xml could then be used on another site if we create an "Import" button that will browse and let save into com_localise/packages/

[2014-06-29 09:34] infograf768 commented on #135
https://github.com/joomla-projects/com_localise/issues/158
 should take care of issues 2 and 3

[2014-06-29 16:25] infograf768 commented on #130
I guess we can close this now as Jenkins and Code Sniffer are happy

[2014-06-29 16:25] #130 closed, assigned to nobody

[2014-06-30 07:39] infograf768 opened #159 "**Resources from Valc, our Spanish TT coordinator**"
These are 2 modules TTs use to check what has changed between 2 releases (ttm_diff_tool_otf) and if their packs are OK (forgotten translations, forgotten files, modified values, UTF8 and EOF, mod_stoolpigeon)

http://info-graf.fr/ftpfolder/mod_ttm_diff_tool_otf_for_3.3.0v1.zip
http://info-graf.fr/ftpfolder/mod_stoolpigeon_for_3.3.0v1.zip

I am posting these here as Valc has obtained some stuff we

[2014-06-30 07:40] infograf768 commented on #129
Also, we may want to create another section fo the component to deal with github and using its own Export and Import function

[2014-06-30 07:46] infograf768 commented on #126
I also suggest to be able to import existing xmls for a specific extension/group of extensions where all the necessary files and only these will be listed.

[2014-06-30 15:22] infograf768 commented on #126
Followed your suggestion by creating an extensiontranslations.php field

[2014-07-01 09:34] Achal-Aggarwal opened #162 "Can't see languages or translations"
If language filter is selecting a language and you delete it then the filter will show " - Select language - " options as selected but the view doesn't show any language.

Steps to reproduce:
1. Create a dummy language.
2. Using filter change view to only display newly created dummy lang.
3. delete that language. (by clicking on red (X))
4. Now check filters.
5. Try changing view to "Translation",

[2014-07-01 10:36] infograf768 commented on #162
It is normal to not see any translations when the language xml for that client is deleted, as deleting that xml also deletes the xx-XX folder in the client language/ folder.

As long as you have one xml for the language (whatever the client, i.e. whether it exists in Site, Installation, or Administrator), the language name will appear in the Select Language

[2014-07-01 14:53] Achal-Aggarwal commented on #162
I think you misunderstood me, take a look at https://www.youtube.com/watch?v=OrIFXt20dD8

[2014-07-01 15:40] infograf768 commented on #162
Understand. This happens when we have only one client xml for the language and one deletes it. It is solved by choosing a client or changing the language filter to another language in the Translations view or even in the Languages view.

[2014-07-02 16:45] infograf768 commented on #129
Implemented Export and Import package xml in PRs
See
https://github.com/joomla-projects/com_localise/pull/163
https://github.com/joomla-projects/com_localise/pull/161

[2014-07-04 08:31] infograf768 commented on #135
Remains 1. PHP Notice: Undefined index: id in ROOT/libraries/legacy/controller/form.php on line 753

[2014-07-04 08:33] infograf768 opened #165 "TODO: Implement Save and copy/duplicate packages"
This will let use a master package xml as a model for new package

[2014-07-07 05:04] #165 closed, assigned to nobody

[2014-07-07 06:08] infograf768 opened #174 "TODO: Master/reference packages, core.xml"
In the original com_localise (before 1.6), a difference was made between packs.
Master/reference packs were placed in media/com_localise/packages
User made packs in administrator/components/com_localise/packages/

A specific naming was used "fil_etc.
Also a variable: $standalone

Along the years and modifications, this got lost.
the media/com_localise/packages/localise.xml does not make sense at a

[2014-07-10 07:53] javigomez opened #179 "Create updateservers"
This needs to be done:
https://github.com/joomla-projects/com_localise/blob/develop/localise.xml#L62

Maybe we can try to use the update servers for the localisation strings  xx-XX.com_localise. ini and sys.ini, in this same repository. I mean test Github as a platform for update servers.

[2014-07-10 08:50] infograf768 commented on #179
For the component, we do need indeed to define the updateservers and their necessary xml(s)

For the com_localise language packs, we are producing .zip of type="file" in which we can now include updateserver. (We have to check if type should be 'collection' or 'extension' btw. For example Webinstaller Update site uses 'extension')

I guess the lang file manifest has to be present in the manifest f

[2014-07-10 09:38] infograf768 commented on #179
May be useful to read:
http://stackoverflow.com/questions/20984019/automatic-extension-update-cant-handle-zip-file-from-github

[2014-07-10 14:54] wilsonge commented on #179
That's a well known bug in com_installer. Akeeba adds &dummy=.zip to the
end of those urls to make it work.

On 10 July 2014 10:38, infograf768 notifications@github.com wrote:

[2014-07-10 15:52] phproberto commented on #179
With a well forgotten patch for it: https://github.com/joomla/joomla-cms/pull/3182

#justSaying

[2014-07-11 05:11] infograf768 commented on #179
@phproberto
 do you mean that when your PR is merged, we will be able to install pure zips from github repositories (I do not mean github-made zips, but specific zips we would add there)

[2014-07-11 08:19] phproberto commented on #179
I think that's already possible now. I just tested and created packages to easily test it.

On:
https://github.com/phproberto/joomla-updates/tree/master/plg_sys_mootable/downloads/1.1.0

There are two files:

[plg_sys_mootable_1.1.0.zip](https://github.com/phproberto/joomla-updates/raw/master/plg_sys_mootable/downloads/1.1.0/plg_sys_mootable_1.1.0-direct.zip) >> This is the standard file that uses

[2014-07-11 09:38] infograf768 commented on #179
After testing with Roberto, we found out that this would work for a direct xml but not when we first have a list (as we do for core lang packs).
I.e when we redirect in fonction of the language:
1. a common pack updateserver for all :
https://github.com/infograf768/testupdate/blob/master/testupdate.xml
2. a specific update for the pack concerned:
https://github.com/infograf768/testupdate/blob/mast

[2014-07-11 15:14] javigomez opened #180 "Changing name in package generates new"
See the video:

http://www.youtube.com/watch?v=scXvbsNjidY

Instead of renaming a package it generates a new one.

[2014-07-12 04:56] infograf768 commented on #180
I confirm the issue

[2014-07-12 06:02] infograf768 commented on #180
I think it is due to
https://github.com/joomla-projects/com_localise/pull/164
Before that, the field was readonly

The issue here is that we need to be able to change the name, specially when duplicating

[2014-07-15 06:52] infograf768 commented on #180
Tanks for testing the PR

[2014-07-15 08:48] gunjanpatel commented on #16
@phproberto Link which you provide is outdated now. Please update the link.

Thanks.

[2014-07-15 09:12] infograf768 commented on #16
I guess it is
https://github.com/joomla-projects/com_localise/blob/develop/component/admin/controllers/language.php#L77-L94

[2014-07-15 15:51] javigomez opened #186 "Update servers for language files"
Adding chat log here so we don't forget

[15/07/14 17:25:48] infograf768: I am speaking of language files, NOT project files
[15/07/14 17:26:08] infograf768: language files made by com_localise as a type file .zip
[15/07/14 17:26:46] infograf768: they should be exported from com_localise to the project concerned, in Release for example (WeblInks)
[15/07/14 17:27:01] infograf768: it is and never wi

[2014-07-17 09:57] #180 closed, assigned to nobody

[2014-08-20 09:51] brianteeman opened #195 "Client or Location"
I noticed that com_localise uses the term "client" to describe Site, Administrator, Installation Languages but in com_languages we use the term "location".

To me client is the wrong word and for consistency we should change this to client

![screenshot 2014-08-20 10 49 38](https://cloud.githubusercontent.com/assets/1296369/3979030/9a24d1a8-284f-11e4-9770-3116d8a160bb.png)
![screenshot 2014-08-20

[2014-08-20 11:59] wilsonge commented on #195
I presume you mean we should change client to location? rather than client to client :P

[2014-08-20 12:34] brianteeman commented on #195
Oops yes I mean we should use location throughout
On 20 Aug 2014 12:59, "George Wilson" notifications@github.com wrote:

[2014-08-20 15:16] infograf768 commented on #195
Fine with me. Will make a patch after we commit 196 and 197

[2014-08-20 16:00] infograf768 commented on #195
Done:
https://github.com/joomla-projects/com_localise/commit/e43d93a121f02a8200e78dd5034c199c7576858c

[2014-08-20 16:00] #195 closed, assigned to nobody

[2014-08-20 16:04] infograf768 commented on #15
I have now implemented making core packages including these files IF they are already present in an installed language. (even added a basic localise.php if absent)
Remains to find a way to add them when editing a core package

[2014-08-20 16:12] #162 closed, assigned to nobody

[2014-08-20 18:42] Achal-Aggarwal commented on #162
I think the issue is that when we delete the only language listed in languages view then we can't list all languages of every client unless you select a language in the filter and then deselect it.
This is occurring because of https://github.com/joomla-projects/com_localise/blob/develop/component/admin/models/languages.php#L46

When the only listed language is deleted in languages view then $data

[2014-08-20 22:13] brianteeman commented on #195
Thanks

[2014-08-21 06:01] infograf768 commented on #162
Could you test adding:

[code]

so that we get

[code]

[2014-08-21 08:38] infograf768 opened #198 "Saving a new language behaves as Save and New"
in the languages view, create a new language and save (not save and close).
The new language is indeed created but the redirect displays an empty form

[2014-08-21 12:41] Achal-Aggarwal commented on #198
It is cms issue, here is the patch
https://github.com/Achal-Aggarwal/joomla-cms/compare/joomla:staging...Achal-Aggarwal:fix-com_local-198.diff
If it solves the problem here then I'll send a PR.

[2014-08-23 08:41] #198 closed, assigned to nobody

[2014-08-24 07:35] gunjanpatel commented on #56
@javigomez Ready to test in https://github.com/joomla-projects/com_localise/pull/201

[2014-08-24 07:44] gunjanpatel commented on #17
Updating link https://github.com/joomla-projects/com_localise/blob/develop/component/admin/models/downloadpackage.php#L30-L31

[2014-08-24 09:34] gunjanpatel commented on #17
@phproberto and @javigomez sent fix for one view. Please review.

[2014-08-24 09:38] gunjanpatel opened #203 "Warning: Attempt to assign property of non-object in Language view"
#### How to reproduce?
- Go to Language edit view `administrator/index.php?option=com_localise&view=language&layout=edit&id=219&client=site&tag=en-GB`
- Change **Author Detail Tab->Author Url** set `www.joomla.org`
- You will get below warning.
  ![screenshot-by-nimbus](https://cloud.githubusercontent.com/assets/2002921/4023064/57ae08b0-2b71-11e4-8ff4-7dd45778c7e6.png)
#### Possible Solution

Meth

[2014-08-24 15:45] infograf768 commented on #203
This one is also because the field is now URL.
Change the url to:
http://www.joomla.org
and no more error.

[2014-08-24 16:11] infograf768 commented on #17
https://github.com/gunjanpatel/com_localise/commit/031334993f1ea82eb8c5dc910869519178c3f869
This does not work: we can' create a new language.

[code]

[2014-08-24 16:13] infograf768 commented on #17
- concerning this: https://github.com/joomla-projects/com_localise/issues/17#issuecomment-53182589
  we do not use this file anymore

[2014-08-25 04:22] gunjanpatel commented on #203
@infograf768 Yes I get that. But my point is not with wrong **Author Url** but I mean to say when we have an error in saving, we will get this warnings. :)

[2014-08-25 04:24] gunjanpatel commented on #17
Yes @infograf768 When I have tried to visit this view I get nothing. So, this view should be removed?

[2014-08-25 05:10] gunjanpatel opened #204 "Copier Build tool fails copying"
**Any of this Command is not working from repo directory:**

[code]

or

[code]

**Error**

![Copier Build Fail](https://cloud.githubusercontent.com/assets/2002921/4026302/e9f3b910-2c14-11e4-84e5-35219994340e.png)

[2014-08-25 05:41] gunjanpatel commented on #17
@infograf768 I have just tried to create new language with #202 It looks working for me. Let me know if is there any way to reproduce it.

[2014-08-25 06:17] infograf768 commented on #17
[code]

@gunjanpatel
I did not want to remove that view as well as exportpackage.php until we take a final decision on the architecture of the component.

[2014-08-25 06:40] infograf768 commented on #17
Concerning https://github.com/joomla-projects/com_localise/pull/202
I confirm
Filters set to Select Location and Select Language
_. If I have not edited a language before, I get an empty form with default Site as client and this warning:
[25-Aug-2014 06:32:15 UTC] PHP Notice:  Undefined index: client in /Applications/MAMP/htdocs/trunkgitnew/administrator/components/com_localise/controllers/languag

[2014-08-25 07:16] #204 closed, assigned to nobody

[2014-08-25 07:17] #56 closed, assigned to gunjanpatel

[2014-08-25 15:44] infograf768 commented on #203
Indeed.

[2014-08-25 16:37] infograf768 commented on #15
https://github.com/joomla-projects/com_localise/pull/207
lets add css and localise.php
not the custom calendar which has to be present in media

[2014-08-26 16:17] Achal-Aggarwal commented on #17
we can't use $this->getUserStateFromRequest with 'id'. I think that was the issue with PR 202.
It seems that getUserStateForm give priority to get input but if that is null it uses saved user state.
IMO we can use it only where we don't have a null as a value for a parameter.

[2014-08-26 16:19] Achal-Aggarwal commented on #17
After going though implementation of getUserStateFromRequest in core, I noticed that we generally use it when we want to save the parameters between different views like filters & search params.

[2014-08-28 07:26] infograf768 opened #208 "Checkin-checkout broken."
It is broken for all : language, package, translation.

[2014-08-28 09:57] infograf768 commented on #203
can you test https://github.com/joomla-projects/com_localise/pull/209 ?

[2014-08-28 15:16] infograf768 commented on #203
Closing as it was solved by #209
Thanks

[2014-08-30 07:52] infograf768 commented on #135
Last Notice solved by https://github.com/joomla-projects/com_localise/pull/210

[2014-08-30 07:52] #135 closed, assigned to nobody

[2014-08-30 07:52] #203 closed, assigned to nobody

[2014-08-30 08:10] #129 closed, assigned to nobody

[2014-10-06 08:44] #208 closed, assigned to nobody

[2014-10-06 08:46] infograf768 commented on #7
Supplementary strings can be added while using the Source editing, would be good to get them to display in the normal edit too

[2014-10-06 09:37] #174 closed, assigned to nobody

[2014-10-06 09:38] infograf768 commented on #106
This has been done except editing the css itself, but it can be added. Closing

[2014-10-06 09:38] #106 closed, assigned to infograf768

[2014-10-06 10:28] infograf768 commented on #126
I tested adding
JHtml::_('formbehavior.chosen', 'select');

in the packagefile/edit.php view
this is what I get:
before clicking on the field (here is an already made pack)
![screen shot 2014-10-06 at 12 25 17](https://cloud.githubusercontent.com/assets/869724/4524368/4fd30610-4d43-11e4-9e5f-abece42e101b.png)

after clicking in the field
![screen shot 2014-10-06 at 12 25 42](https://cloud.githubus

[2014-10-06 11:03] wilsonge commented on #126
Ummm I don't think it looks too bad like that although I worry how it will look with like 20/30 translation files selected for a larger package (take akeeba or something when you have a load of plugins to accompany a component).

Also we should always attach chosen to a class rather than all select elements.

[2014-10-06 11:51] infograf768 commented on #127
I have added a PR which also deals with other fields. Please test https://github.com/joomla-projects/com_localise/issues/224

[2014-10-07 11:33] Ayeko commented on #127
He JM
test

[2014-10-08 05:50] infograf768 commented on #127
@Ayeko
If you have tested the PR, please comment OK on the PR itself

[2014-10-09 18:09] nicksavov commented on #179
You should look into doing it with Phing instead. Each repository can have the same structure, then Phing can be used to generate the packages automatically.

That sounds like a bug in the updater. The same packages should work for the Collection server type too. It should be reported and fixed in https://github.com/joomla/joomla-cms/issues. Then you'd be able to use it.

[2014-10-09 21:41] phproberto commented on #179
We forgot to mention here that after further testing with JM we discovered it was a bug on his xml file.

Both update methods were working ok

[2014-10-09 21:44] nicksavov commented on #179
Awesome :) Nice work, guys!

[2014-10-10 06:59] infograf768 commented on #179
I would not worry at this stage about com_localise lang packs, they do not concern much languages.
Let's first take care of the component updateservers first

[2014-10-10 07:09] nicksavov commented on #179
Do you mean for https://github.com/joomla-projects/com_localise/ ? I can send in a pull request for it now if you'd like.

[2014-10-10 07:21] infograf768 commented on #179
Thanks, yes
update the localise.xml <updateservers>
+
a manifest xml

Important, use:

[code]

[2014-10-10 07:57] nicksavov commented on #179
All set:
https://github.com/joomla-projects/com_localise/pull/229

Let me know in the PR if you'd like me to change anything.

[2014-10-30 07:05] #179 closed, assigned to nobody

[2014-11-08 21:59] pe7er opened #232 "Date notification "now" in form "Create new Language""
Components > Localise > Languages > Create new language
The Creation Date has "now" as default field,
after saving, the date field stores "now" as date.

In my example file /administrator/language/ex-EX/ex-EX.xml
the date is hardcoded stored as "now":
<creationDate>now</creationDate>

I think it would be better to display the current system date instead.

[2014-11-08 22:16] pe7er opened #234 "Localise > Languages, Improve order & content of columns"
The order of the columns in the list of languages differs from the order of the columns in the Language Manager:

Component > Localise > Languages
Language name | Location | Default | Files | Version | Date | Author
[ex-EX] [example language]([Example Country]) | Administrator | __ | __ | 3.3.6 | now  | Peter Martin

Compare with
Extensions > Language Manager >
Language | Language Tag | Location

[2014-11-08 22:30] pe7er opened #235 "Localise > Translations, "hardcoded" author differs from creator of package"
In Component > Localise > Translations

When you create a new translation of a Joomla language pack
for your own language (eg language ex-EX, where you are the author),
the translation gets inforced "Joomla Project" as author.

The overview list Author "Joomla! Project", which is confusing as you are the author of the translation.
Maybe better to just remove the whole "Author" column from the Tran

[2014-11-08 22:41] pe7er opened #236 "Localise > Translations - Order of columns can be improved"
See Component > Localise > Translations

In the current view, the items that you can click to start editing are _not_ in the first / second column like in all Joomla views.

I'd propose to move the "Files" column to the beginning of the line,
remove the Author column (see issue #235),
and the "Information" buttons to the end of the line
#### Current view:

 # | Information | Language | Location |

[2014-11-08 22:50] pe7er opened #237 "Warning while creating a Package is confusing"
I translated "com_admin.sys.ini /administrator/language/ex-EX/ex-EX.com_admin.sys.ini" for my "language" ex-EX.

When I tried to create a Package for it via Component > Localise > Packages > New Core Package,
I got the following warning: "Are you sure that you want to save this package? It may overwrite an existing one using the same name."

The warning is confusing as I have not created any packa

[2014-11-08 22:53] pe7er opened #238 "Packages overview shows very little information"
See Component > Localise > Packages
The list of packages only show: Title + Type

Is it possible to add somewhat more information about the packages?
I am thinking about: language tag, location (admin/site) and creation date (e.g file date of xml/zip file) ?

[2014-11-08 22:55] BrittaStender opened #239 "Bug when renamning language"
![rename-language-bug](https://cloud.githubusercontent.com/assets/2777672/4965856/3a4d92f8-679a-11e4-9019-090d3a055c5a.png)

I called the language Britta and tried to rename it to Danish, which I can't.
Its the "Tag" field.

[2014-11-08 22:59] pe7er commented on #239
I am able to reproduce this bug.
I tried to rename my language "ex-EX" to "ex-EX2" and got the same error:

Error
Save failed with the following error: Language file /var/www/joomla-com-localise/joomla-com-localise/administrator/language/ex-EX2/ex-EX2.xml already exists

[2014-11-08 23:02] BrittaStender opened #241 "Autofill the creation date field when creating new language"
![creation-date-bug](https://cloud.githubusercontent.com/assets/2777672/4965870/487c5c78-679b-11e4-9073-9025c010861d.png)

It states "now" as standard text. Couldn't it contain the actual date instead?

[2014-11-08 23:19] Skullbock commented on #127
I think this one can be closed @javigomez

[2014-11-08 23:31] wilsonge commented on #232
Fix in #243

[2014-11-08 23:31] wilsonge commented on #241
Fix in #243

[2014-11-09 10:42] infograf768 commented on #241
Look at discussion in https://github.com/joomla-projects/com_localise/pull/243

[2014-11-09 10:42] #241 closed, assigned to nobody

[2014-11-09 10:46] infograf768 commented on #232
See discussion in https://github.com/joomla-projects/com_localise/pull/243

[2014-11-09 10:46] #232 closed, assigned to nobody

[2014-11-09 16:13] #127 closed, assigned to nobody

[2014-11-09 17:30] infograf768 commented on #234
we can easily have
Language (name) | Language Tag | Location | Files | Default | Version | Date | Author
Would that fit?

[2014-11-09 17:47] infograf768 commented on #235
The Author parameter is defined in the Component Options

[2014-11-09 17:51] infograf768 commented on #235
// Set fields readonly if localise global params exist
in https://github.com/joomla-projects/com_localise/blob/develop/component/admin/models/translation.php#L478

[2014-11-09 17:53] infograf768 commented on #235
and it looks like we have a bug here. wil look into it

In fact, if no author set in the component Options, it picks the reference language author. Test by taking off in an en-GB ini the `;Joomla! Project`. In that case the empty field stays readonly...

[2014-11-09 18:18] infograf768 commented on #237
See discussion here
https://github.com/joomla-projects/com_localise/pull/214

[2014-11-09 21:55] pe7er commented on #234
yes, I think that it would be ok.

[2014-11-11 07:43] infograf768 commented on #234
This?
![screen shot 2014-11-10 at 12 19 09](https://cloud.githubusercontent.com/assets/869724/4989799/c0ffb49e-697e-11e4-9488-fb389ab3332a.png)

[2014-11-11 08:42] infograf768 commented on #234
See and test:

https://github.com/joomla-projects/com_localise/pull/246

[2014-11-11 08:43] #234 closed, assigned to nobody

[2014-11-11 09:02] infograf768 commented on #238
This manager only displays the internal to com_localise packages, not the .zip packages.
Therefore, we can't show the date which is created when the .zip is created.
The location is both site/admin for core packages, it can be one, the other, or both for a 3rd party extension.
Looking how to get the Tag and version now

[2014-11-11 10:11] infograf768 commented on #238
please test
https://github.com/joomla-projects/com_localise/pull/247

[2014-11-11 10:11] #238 closed, assigned to nobody

[2014-11-11 10:17] infograf768 commented on #239
With https://github.com/joomla-projects/com_localise/pull/245, we can't now enter "Danish" in the tag field as this is plain wrong.
I confirm the bug when changing the tag of an existing .xml
I am not sure we can solve this one as some inis may have already been created.
Looking into this

[2014-11-26 15:16] javigomez opened #253 "Create localised Page Objects"
As an idea for future it would be nice to localise our Page Objects: en-GB, es-ES, fr-FR... so we can load the right page depending on the language we are testing.

cc: @kshitijSharma2014

[2014-11-27 06:26] infograf768 commented on #253
Could you explain further what this means?

[2014-11-27 11:11] javigomez commented on #253
Sure!

Right now we are able to execute the syste tests in english to make sure that all works (see: https://github.com/joomla-projects/com_localise#testing-with-codeception).

Yesterday at the system testing working group team meeting (see http://volunteers.joomla.org/reports/16-26th-november-meeting) we were discussing if the tests should be language agnostic or not.

The conclusion is that en-G

[2014-12-12 11:02] javigomez opened #254 "Crate a bridge with translation services"
This is an experimental feature but it would be awesome that com_localise will be able to have an API that allows it to send and retrieve translations from services like Transifex or Crowdin.

Adding here so we don't forget what we spoke during JWC14 @yireo

[2014-12-12 11:04] infograf768 commented on #254
Transifex is not good enough for J core as it does not take care of supplementary strings depending on languages (plurals, others)

[2014-12-12 11:44] javigomez commented on #254
Yes, Transifex can't do this: https://github.com/joomla-projects/translate-joomla#working-with-plurals

Still having an API will allow us to export and import files and do crazy things. Having a webservices layer for com_localise would allow us to simplify tasks like https://github.com/joomla-projects/com_localise/issues/57 or for example to connect it with Slack, so any new released language pack

[2014-12-12 18:36] fastslack commented on #254
This can be done using some ajax.raw.php and returning the required data via JSON. What kind of data we need to export?

[2014-12-18 12:12] javigomez commented on #254
Well, is not clear yet. But actually I can think on one translation. That would allow us to do inline edition of translations, or complete files.

But you are right we will need to think it what thinks to we want to allow to be in the api: translation, language file, package...

[2015-01-24 18:20] infograf768 opened #257 "IMPORTANT: Needs update error parsing to follow Joomla core."
Grace to the new minimum  PHP version for 3.x, we now can include double doublequotes in the values instead of `"_QQ_"`. For example in a URL or class:
`<a href="_QQ_"http://community.joomla.org/blogs/leadership/1798-raising-the-bar-on-security.html"_QQ_">`
can be written
`<a href="http://community.joomla.org/blogs/leadership/1798-raising-the-bar-on-security.html">`
same for a span:
`<span class="

[2015-01-24 19:22] mbabker commented on #257
Just at a quick glance, it looks like your validator is the same regex that JLanguage was using before (see https://github.com/joomla-projects/com_localise/blob/develop/component/admin/models/translation.php#L380).  So you should be able to update this section to match the updated code in JLanguage.

[2015-01-25 06:18] infograf768 commented on #257
@mbabker
We also have a parseini.js

[2015-01-28 14:47] elkuku commented on #254
With "others" you probably mean the special `QQ` constant?
As this is about to disappear (hopefully), Transifex maybe now "good enough" for our needs?
Not sure that Transifex really supports the special plural string handling but hey...

@javigomez this is an awesome idea :wink:

[2015-01-29 11:58] infograf768 commented on #254
Nope. I mean specific language strings as (in fr-FR):

[code]

or

[code]

and others in core... for example reCaptcha version1 where the strings are commented for some languages but should not for others, etc.

[2015-01-31 22:35] Valc opened #263 "Use of indefined constant error"
Trying to edit a file to delete the next 3.4 release i am getting this notice:

![captura de pantalla de 2015-01-31 23 25 16](https://cloud.githubusercontent.com/assets/417247/5990069/03347a18-a9a1-11e4-94f6-55fb8dbc1dc9.png)

Notice: Use of undefined constant LOCALISE_ADMINISTRATOR - assumed 'LOCALISE_ADMINISTRATOR' in /var/www/3.4/administrator/components/com_localise/helpers/localise.php on lin

[2015-01-31 22:44] Valc commented on #263
Also noticed that under this case (seems that is due it is a file to delete), i am able to edit in raw mode and take a look to the string within the translated file, but in normal edition mode, no one string is present (is blank or empty of keys).
No idea about why or if this is the expected result.

[2015-02-03 18:21] ot2sen opened #264 "Unchanged equal to untranslated?"
Is a save unchanged strings an option?

Looks like there could be a problem in allowing to use a string exactly similar to the source string, when unchanged is considered untranslated by com_localise.
How to make a file 100% complete when there are one or more lines in a file than is similar to the source string? Can be numbers, single Words en-GB used in other languages and names of tech items.

[2015-02-03 18:24] brianteeman commented on #264
I noticed this in other systems and they make you copy the string even if
it doesn't need to be translated.

Technically it does need to be translated though as the end user might have
removed the core en-GB language files and without it their will be nothing
to load. (Or am I completely wrong)

On 3 February 2015 at 18:21, ot2sen notifications@github.com wrote:

##

Brian Teeman
Co-founder Joomla

[2015-02-03 18:44] wilsonge commented on #264
Since 3.2/3.3 (can't remember which - this commit anyhow
https://github.com/joomla/joomla-cms/commit/2e82d6904a68e834fec9ac2cd91bcfb07b16dd2b
) we always load the en-GB file before the translations (when language
debug is off). So it's not end of the world if the string is missing
because the english one will show. But I would consider it 'good practice'
for the string to exist anyway.

On 3 Febru

[2015-02-03 18:50] brianteeman commented on #264
Yes but the user can uninstall en-GB

[2015-02-03 18:51] ot2sen commented on #264
Yes, it is the lack of option to save an unchanged string that is the issue.
Other systems will allow you to save/approve the translated string individually nomatter if it is a 100% match of the source string.

Often there are perfect matches and it cannot be considered untranslated when items are actually the same in the target language.

[2015-02-04 07:57] infograf768 commented on #264
When one completes a translation in his/her language (including unchanged strings), it can be marked as "Complete" in the "Details" tab <b>and then saved</b>, it will therefore show as "Translated" in the Manager and unchanged strings in the Phrases column show as (205 + 10)/215 where 10 is the number of unchanged strings.
[If we have an untranslated string (string absent from the target language)

[2015-02-04 08:59] infograf768 commented on #264
FYI, en-GB can't be deleted (normally) as it is protected.
![screen shot 2015-02-04 at 10 00 54](https://cloud.githubusercontent.com/assets/869724/6037526/c0349d90-ac54-11e4-82ab-218c1c12e1aa.png)

Also, the reference language can be changed (bug corrected in 4.0.10-dev). For example fr-CA could use fr-FR as reference and customise in function of canadian French usage.

[2015-02-04 10:30] ot2sen commented on #264
Thanks @infograf768  the details tick complete option was good to know.
Agree it would be useful to have such a tick box directly next to the individual strings.

[2015-02-05 08:02] infograf768 commented on #263
Corrected directly to LOCALISEPATH_ADMINISTRATOR indeed. Thanks!

https://github.com/joomla-projects/com_localise/commit/ad703a8b8cea4515caf9ebec08ae89ecc0780aaf

All depends on the choice in Options
If there is no original file in the reference language (lib_phpmailer.sys.ini here and reference en-GB) then this is what one should get if the file is present in the Target language:
![screen shot 20

[2015-02-05 08:02] #263 closed, assigned to nobody

[2015-02-05 17:05] Valc commented on #264
Hi :)
For me unchanged means "maybe translated or maybe not translated" and is required open the file to take a look about what means in each key case.

Maybe the user have no time to translate the file with one attempt and that ones are also counted as unchanged, for example.

With the "complete" checkbox is a bit the same: what happens when new keys are present in source due the next Joomla! upd

[2015-02-06 07:22] infograf768 commented on #264
This is a bug. It was working in the past: We should get in this case a bar containing some red instead of the tick box in the Translated column. Example;
![screen shot 2015-02-06 at 08 20 29](https://cloud.githubusercontent.com/assets/869724/6075751/31d8f3d0-add9-11e4-9c89-ae395c643e6d.png)

We may solve this by changing here:
https://github.com/joomla-projects/com_localise/blob/develop/component

[2015-02-06 08:20] infograf768 commented on #264
I am now commiting that change as well as some changes in the translations model as 4 plugins are unnecessary as they were not finally merged into 3.4.0 + com_weblinks.ini (site) was not considered as present in reference language and should for now.

[2015-02-06 08:25] infograf768 commented on #264
See https://github.com/joomla-projects/com_localise/commit/c25c3666a2db245a26d4a592c78001c92f621f82

[2015-02-24 06:56] #264 closed, assigned to nobody

[2015-02-24 06:57] infograf768 commented on #257
Closing in favor of https://github.com/joomla-projects/com_localise/issues/260 which is a WIP

[2015-02-24 06:57] #257 closed, assigned to nobody

[2015-02-24 07:12] infograf768 opened #274 "IMPORTANT: issue with max_input_vars for big ini file"
Adding something like 80+ lines in the main xx-XX.ini files to go over 1000 strings (tested here with 1061 lines.
Then edit the file (not in raw mode) and Cancel.
We get:
`Warning: Unknown: Input variables exceeded 1000. To increase the limit change max_input_vars in php.ini. in Unknown on line 0`

result: the page remains in edit mode.

As we can't ini_set `max_input_vars`, do we have a solution?

[2015-02-24 07:51] phproberto commented on #274
There is no way to change that setting in our side. The only thing coming to my mind is to serialize data before sending it and deserialize it to receive it.

[2015-02-25 15:55] phproberto commented on #274
After thinking about it I think a quite simple approach would be this one:
- All the strings are uneditable when the page loads.
- When user clicks on a textarea that box is enabled and user can edit the string. Two buttons appear near the box: Save & Cancel.
- When the user clicks save we trigger the AJAX validation + save only for that textarea. So we are just submitting 1 field each time. The c

[2015-02-25 16:18] brianteeman commented on #274
I've come across this issue quite often on large sites and it is hit and miss if you ever get the error message depending on the server config (seems to be independent of usual settings)

@phproberto your approach or something very similar is the only way to go. Only edit/save the items that need editing and saving and not every var

[2015-02-26 04:08] Hutchy68 commented on #274
@phproberto your idea is the way the interface on JDOCs translates. The translator sees the text as it is in the source language and if already translated, the translation. Nothing is active until the translator clicks the form field.

Once they click in the form field the field is blank or if a translation is already present it is loaded. From that point the translator translates or fixes a previ

[2015-02-26 05:49] infograf768 commented on #274
@phproberto

OK for me.

[2015-05-09 10:29] infograf768 commented on #274
Any volunteer to patch this?

[2015-05-09 10:46] brianteeman commented on #274
I have some code that tests for the value of max_input_vars, states how many you need on this view and gives instrcutions how to increase the value. Is that what you want?

[2015-05-10 20:19] Valc commented on #274
I think than patch it has required work in 2 ways:

First such as @brianteeman  is pointing to stop allow edition only when limit is exceed, that is similar to this one:
https://github.com/joomla-projects/com_localise/pull/276

And second such as @phproberto is explaining, that does not solve the issue but can help a lot to post the lowest amount of strings, making hard to go over the limit.

Abou

[2015-08-16 23:19] joomlagate opened #279 "many files can NOT be detected and listed by com_localise"
Today I downloaded the latest dev version (v4.0.12-dev) of com_localise and tested it on Joomla 3.4.3 with Kunena 4.0.3 language files.

There are totally 15 language files in the backend language file folder of Kunena, but com_localise can only recognize and list 11 files!

Why the other 7 files were not detected and listed?

[2015-08-17 09:10] infograf768 commented on #279
Tested Kunena 4.0.5 (on Joomla 3.4.4-dev) where there are 17 language files for admin.
Only 11 files are indeed recognized by com_localise <b>by default.
![screen shot 2015-08-17 at 10 02 43](https://cloud.githubusercontent.com/assets/869724/9300523/33e03316-44c7-11e5-81bf-64f3142a91a7.png)
The Kunena files are present in the extension language folder. As soon as they are placed in the main core f

[2015-08-17 15:58] joomlagate commented on #279
hi, infograf768 ,

from your post, I noticed a funny issue:

The file en-GB.plg_kunena_joomla.sys.ini is located in this folder in my test:

/administrator/components/com_kunena/language/en-GB

But on your first screenshot, it seems that this file was in this folder:

/administrator/language/en-GB

Why so different?

Well, let  us return to the original question: why com_localise will "miss" so ma

[2015-08-17 16:02] joomlagate opened #280 "feature request: a new button for "show un-translated lines only""
Sometimes when I update a language translation, for example, it has more than 1,000 lines, and there are only 7 or 10 new lines added in the new version. Well, com_localise will tell me that there are 7 or 10 lines of translation missing, but maybe those new lines are not at the beginning, neither at the end, they just scattered in those 1000 lines! How can I find out these new lines quickly?

I t

[2015-08-18 07:23] infograf768 commented on #280
See proposed PR
https://github.com/joomla-projects/com_localise/pull/277

where this is implemented.
The PR is not complete in the sense that we can't mark string per string a changed string as translated.

[2015-08-18 07:41] infograf768 commented on #280
Here is a screenshot:
![screen shot 2015-08-18 at 09 40 01](https://cloud.githubusercontent.com/assets/869724/9324731/32aaeb82-458d-11e5-9824-b5cbf9042e31.png)

[2015-08-18 07:55] infograf768 commented on #279
Look better: the path is to /administrator/language/fr-FR not en-GB.
We are looking at the path to the <b>translated</b> files (here to French), i.e. where a translated file in the target language will be saved. The path is correct. It picks the reference file where it is (here the en-GB are in the extension folder) and will save —or update if it exists— the translated file in the core folders.
Th

[2015-08-18 09:45] infograf768 commented on #279
After checking the code, I am not sure we can even do that (i.e. using an underscore instead of the dot).
The issue is that we look for:
`$file   = "$path$extension/language/$tag/$tag.$prefix$extension$suffix.ini";`
1. where `$prefix` if the `type` of the extension. This means that a file named en-GB.kunena.ini is wrong and will not be filtered. Prefixes (types) are com_, mod_, plg_, lib_, files_,

[2015-08-19 05:57] joomlagate commented on #279
Do you remember Translations Manager for Joomla 1.5? Which com_localise claimed to based on.

You can make a test: on Joomla 1.5 installation, you intall Translations Manager  component, then, copy Kunena 4.x language files to appropriate folders of this Joomla 1.5, and you visit Translations Manager  backend, you will find out that it will CORRECTLY find language files and compare them!

Does Tra

[2015-08-19 08:28] infograf768 commented on #279
In 1.5, we did not have a language folder in the extension. All ini files were in core folders.

[2015-08-19 14:58] joomlagate commented on #279
Since Joomla 3.x has a language folder in extension folder, so we need to MANUALLY input some suffixes to enable com_localise to recognize language files in those folders?  This does not make any sense!

[2015-08-19 15:43] infograf768 commented on #279
We need some suffix only when some coders have defined weird ini files names.

But, as I said, you are welcome to propose patches. The code is in
ROOT/administrator/components/com_localise/models/translations.php

[2015-08-19 16:14] infograf768 commented on #279
I "may" have found a way, but it implies extensive changes and filtering issues.
Looking into it

[2015-11-08 09:04] joomlagate opened #281 "com_localise and Sobipro: one of you should be wrong"
I tried to translate Sobipro (com_sobipro) from  www.sigsiu.net with com_localise. And com_localise indicates that there is something wrong with the English language file. The source code is:

SP.PERMISSIONS.DELETE_*="delete any"

Well, it seems that com_localise think "dot" and "star" symbols should NOT in language Key.

I had posted this issue on sobipro forum:

https://forum.sigsiu.net/sobipro-

[2015-11-09 10:17] infograf768 commented on #281
It is the star which is creating issues and, for your info, Joomla core is also stating the star in a constant as a Parsing issue although the translation works fine.
To check, just enable Debug language and go on a page where you have such strings.

I am now making a patch for com_localise and will propose a patch to core.

[2015-11-09 10:37] infograf768 commented on #281
As I will update com_localise when we get to 3.5.0-prerelease in a few days, you can now patch with this (replace lines with a minus sign by these with a + sign and take off the +:

[code]

[code]

[2015-11-09 11:08] infograf768 commented on #281
Please also test
https://github.com/joomla/joomla-cms/pull/8356

[2015-11-10 07:58] infograf768 commented on #281
New release ready. Closing this.

[2015-11-10 07:58] #281 closed, assigned to nobody

[2015-12-16 22:46] joomlagate opened #283 "feature request: a button to "only show untranslated lines""
Sometimes I have such a situation: a language file contains more than 2k lines, and the new version added about 20 lines. But, these 20 new lines are not at the end of that language file, nor at the beginning of the language file. Instead, they were scattered inside those 2k+ lines!

This com_localise tool can only tell me "how many lines not translated", but it can not show me "where are they".

[2015-12-18 09:48] infograf768 commented on #283
@baijianpeng

Please install this update via extension=>Install
https://www.dropbox.com/s/0uz1ioomutztb0x/com_localise-4.0.15-beta.zip?dl=0

This is a beta which includes the functionnality of this PR:
https://github.com/joomla-projects/com_localise/pull/277

A new table is created when updating.
`#__localise_revised_values`

As the functionnality still needs cleaning, I can't release it as a pure

[2015-12-18 14:34] joomlagate commented on #283
Thank you. I installed that 4.0.15 beta version and then found some thing wrong:
1. When show the file list view, though my translation is "uncomplete", but it shows complete (yellow tick) status! Take a look at the screenshot showing below, there were still 45 strings not translated, but that file was recognized as "complete".

![wrongly-complete-status](https://cloud.githubusercontent.com/assets

[2015-12-19 07:45] infograf768 commented on #283
This is why I said 4.0.15 is not ready yet. We have some bugs.
What happens for now is that a file which was incomplete is set as complete as soon as one uses the Save button. Therefore when one has not finished yet translating and postponing some translations for later on, all strings are set as Translated (except the Modified core ones as these need ticking the "Revised" check box).
Even when un

[2015-12-19 07:50] infograf768 commented on #283
Here is a screen shot of a core pack file (3.4.4 pack) which has not been updated yet to 3.4.6 to show it works before saving it.

![screen shot 2015-12-19 at 08 48 01](https://cloud.githubusercontent.com/assets/869724/11912078/7bfe0aa2-a62d-11e5-81d6-7315b901134f.png)

[2015-12-19 12:12] joomlagate commented on #283
This is not good. Infact, I always check and validate translations with
com_localise, but after "save" file, I do my translating work with
EmEditor, I do not like to translate one after one in the Localise
component, because it does not offer features like "search and replace",
which are very common in an TXT editor software.

2015-12-19 15:45 GMT+08:00 infograf768 notifications@github.com:

[2016-03-11 09:47] joomlagate opened #284 "can not save "zh-CN.ini" file"
Today when I trying to translate the file "**zh-CN.ini**" (Joomla main language file of backend) on Joomla 3.5.0 RC version, I noticed that com_localise v4.0.15-beta (I forgot where did I downloaded this version, maybe from this repository) can NOT save this file. After I click on "Save and Close" button, the page just refreshed, without saving nor closing.

Please check this and fix it.

Thank yo

[2016-03-11 11:00] infograf768 commented on #284
I proposed it to you here:
https://github.com/joomla-projects/com_localise/issues/283#issuecomment-165732547

It works OK here on staging (3.5.0 RC)

Do you have any error in your php logs?

[2016-03-11 11:38] joomlagate commented on #284
A little weird, I can save the "zh-CN.ini" file of frontend, but not the backend one.

There is no records in PHP logs.

update:

Well, now I find out the cause:

When I check the Apache log (I use XAMPP local server on my PC), the last line is:

So I edited my php.ini file, and set it to:

`max_input_vars = 10000
`

Then I restarted Apache and tried to save the same file, this time it was success

[2016-03-11 11:39] joomlagate commented on #284
However, when I checking the php.ini file, that option was commented out with a ";" symbol at the beginning of that line.  Why a commented-out option will take effect?

[2016-03-11 15:03] mbabker commented on #284
PHP will use a default value if the option isn't explicitly set.

[2016-03-12 07:28] infograf768 commented on #284
I had personnaly set the value to
`max_input_vars = 2786`

as the issue was not only for Simplified Chinese.

[2016-03-12 07:28] #284 closed, assigned to nobody

[2016-03-18 08:03] infograf768 commented on #284
I just merged this PR to cope with such issue.
https://github.com/joomla-projects/com_localise/pull/287

[2016-03-18 08:06] infograf768 commented on #283
I have now merged https://github.com/joomla-projects/com_localise/pull/277 where the "Complete" issue is solved. I.e. one has to set the file as Complete before saving, when desired.

[2016-03-18 08:07] infograf768 commented on #283
I will soon release a new version of the component.

[2016-03-18 10:25] infograf768 commented on #274
@phproberto
I have merged this https://github.com/joomla-projects/com_localise/pull/287 until we get a solution without modifying the php.ini.

[2016-03-21 17:06] andrepereiradasilva opened #293 "This repository does not work with Joomla patchtester"
This repository does not work with Joomla Patchtester.

Joomla (https://github.com/joomla/joomla-cms) and patchtester (https://github.com/joomla-extensions/patchtester) works.

![patchtester-config](https://cloud.githubusercontent.com/assets/9630530/13927102/32d63112-ef87-11e5-9dfc-35c02c3f3a3b.png)

The PR are fetched but cannot be applied.

I think the structure of the folders needs to be like t

[2016-03-21 17:10] infograf768 commented on #293
@javigomez

As I have not decided this structure, can you give us your feedback?

As it is now, to update my test site I use with eclipse
"Build project" which uses a custom build.properties with the correct path to my test site.

And to create packs I use:
./phing -f /Users/mac/joomlatrunk/upstream_localise/build/build.xml

[2016-03-21 17:10] mbabker commented on #293
For any extension to work with patchtester its repo MUST be structured like the CMS.  The patchtester component didn't do anything special for that.  When it tries to apply a patch, the check literally equates to "can we patch `JPATH_ROOT/<file_path_specified_in_diff>`".

[2016-03-21 17:26] infograf768 commented on #293
@mbabker
As you know, I did not structure this repo and I have absolutely no idea why it was not structured like the CMS. :smiley_cat:

[2016-03-21 17:27] mbabker commented on #293
Personally I hate using that structure for extensions (how weblinks was structured before the test team started implementing their tools is closer to how I keep mine), but alas, that's the requirement to use the tool.

[2016-03-21 17:36] infograf768 commented on #283
@baijianpeng

Please use now the new release:
https://github.com/joomla-projects/com_localise/releases

[2016-03-21 17:36] #283 closed, assigned to nobody

[2016-03-21 17:58] #280 closed, assigned to nobody

[2016-03-22 15:05] infograf768 opened #294 "Sorting broken in Translations view"
As title says, there is no change when switching from ascending to descending.

[2016-03-22 21:27] Valc commented on #294
Seems It is due the filter never is sending an '1': it is sending an "asc", "desc" or an empty value:
At ../models/translations.php we have:

[code]

Replaced by this one the stuff seems is working:

[code]

But if the idea is get 1 or -1 values is required search where the "desc" or "asc" are inserted (no idea in this moment).

One time solved there seem that the original code will be working rig

[2016-03-23 06:49] infograf768 commented on #294
I have another solution, implementing at the same time searchtools. :smiley:
Will post here when I have a PR.

[2016-03-23 06:56] Valc commented on #294
Great :smiley:

[2016-03-23 08:57] infograf768 commented on #294
Please test
https://github.com/joomla-projects/com_localise/pull/295

[2016-03-23 08:57] infograf768 commented on #294
Closing as we have a patch

[2016-03-23 08:57] #294 closed, assigned to nobody

[2016-03-25 08:42] Valc opened #297 "EOL Issues with raw mode"
#### Steps to reproduce the issue

1 Edit any file with raw mode and save and close it.
2 Edit the same file in normal mode and save and close it.
3 Edit the same file in raw mode and go to the end of the file lines: before the last string now is added a section "[New strings]" when not true.
#### Expected result

It will be the same than edit in normal mode: the file is mounted with  "\n"
#### Ac

[2016-03-25 08:58] infograf768 commented on #297
I can't reproduce these issues here on Macintosh.

[2016-03-25 09:05] infograf768 commented on #297
What I mean is that I can see your es-ES.com_ajax.ini is Windows EOL and es-ES.com_contacts.ini has [New Strings] on top of the file, but I can't reproduce your issue with my fr-FR files or Italian files

[2016-03-25 09:07] Valc commented on #297
Can you test saving one of you language files as UNIX/Linux EOL?

[2016-03-25 09:11] infograf768 commented on #297
@Valc
Using 4.0.16-dev, I edit your 3.5.0.1 files (normal way) and save, and they are corrected:
no more Windows EOL for Ajax, no more [New Strings] on top for the other files concerned.

My files are always Unix.

[2016-03-25 09:13] infograf768 commented on #297
Are'nt you using a custom com_localise and not 4.0.16-dev?

[2016-03-25 09:19] Valc commented on #297
No, i am updated today to .16. My other "complex develop" branch i know is bugged but i am waitting for more free time.
Noticed that saving in normal mode the issue about EOL is gone... But editing again in raw mode and saving for you is not coming back?

[2016-03-25 09:21] infograf768 commented on #297
Nope.

[2016-03-25 09:26] infograf768 commented on #297
wait, indeed it does saves with Windows EOL when saving in Raw mode.

[2016-03-25 10:20] Valc commented on #297
Yes, that i means: the files starts before edit in my format  and after save  In raw mode become in not UNIX EOL.

[2016-03-25 15:38] infograf768 commented on #297
@Valc
I think I found out the issue:
It is due to Codemirror.

To test I edited in Beez template through the Joomla interface the file component.php
It saved as UTF8 No BOM (so far so good) BUT with Windows EOL (CRLF)

[2016-03-25 15:50] infograf768 commented on #297
https://github.com/joomla/joomla-cms/issues/9592

[2016-03-25 15:53] Valc commented on #297
Well founded.
If they have solved from the main cause we only needs wait that patch to resolve the issue here.

[2016-03-25 16:07] Valc commented on #297
Please, also revise:
open and save in normal mode that language file converted to windows format.
now open in  raw mode and go to the end of the file: Is there a [New strings] section to you?
Due this one only can happens due the same issue also will be solved by same patch, but means than mix this type of formats can generate internal mistakes mounting the file to save in normal mode.

[2016-03-26 10:11] infograf768 commented on #297
No.

I may have found a solution for the EOL though for com_localise when saving in raw mode.

Please test adding this
`$contents = str_replace(array("\r\n", "\n", "\r"), "\n", $contents);`
just before
`$return = JFile::write($path, $contents);`

https://github.com/joomla-projects/com_localise/blob/develop/component/admin/models/translation.php#L1400

and let me know.

[2016-03-26 13:08] Valc commented on #297
Yes, your mod is working and solve the issue at com_localise.

I think that for us the issue starts at line 1193 of same file, due the raw content is accessing by that way such as is coming from the codemirror:

[code]

But where you have added the line ensures make work any other odd scenario: so for me perfect.

Regards

[2016-03-26 14:49] infograf768 commented on #297
Please mark this PR as OK:
https://github.com/joomla-projects/com_localise/pull/298

It may work even when codemirror is corrected.

[2016-03-26 14:49] #297 closed, assigned to nobody

[2016-03-28 15:23] Valc opened #302 "Bacth process at packages view is crashing."
#### Steps to reproduce the issue

Go to packages view and select any checkbox and then press the 'Batch' button.
#### Expected result

Access to "Batch" options.
#### Actual result

White page.
#### System information (as much as possible)

[code]
#### Additional comments

Here the error log output:

[code]

[2016-03-29 08:15] infograf768 commented on #302
Batch is never used. The button and related strings are a remaining of the older com_localise.. Here is a PR. https://github.com/joomla-projects/com_localise/pull/303
Please confirm.

[2016-04-20 10:30] joomlagate opened #304 "detect language files not in standard language folder path"
#### Steps to reproduce the issue

Install free module RT RokSprocket (download from http://www.rockettheme.com/joomla/extensions/roksprocket ) on Joomla 3, look at this folder:

**/components/com_roksprocket/layouts/**

Every subfolder in that folder has a sub-subfolder named "language", in those language folders, you will find en-GB folder and ini format language files inside.

But, com_localise

[2016-04-20 13:20] uzielweb commented on #304
This module is wrong.
The language folders is needed in the default and not in
/modules/your_module/language.

2016-04-20 7:30 GMT-03:00 baijianpeng notifications@github.com:

##

_Teu Ponto de Partida Para o Mundo_

_www.pontomega.com.br http://www.pontomega.com.br_

_Email: contato@pontomega.com.br contato@pontomega.com.brSKYPE:
usiel.almeida.oliveiraGoogle PLUS:
https://plus.google.com/11450088

[2016-04-21 11:40] infograf768 commented on #304
Not only these language files are not placed where they should, but they do not obey to the correct standard naming (ex: en-GB.roksprocket_layout_grids.ini)
As the main com_roksprocket/site/language/en-GB/en-GB.com_roksprocket.ini contains only one string, it means these devs did a bad job.
I'm afraid we can't do anyhting in com_localise for these.
Closing.

[2016-04-21 11:40] #304 closed, assigned to nobody

[2016-04-21 13:19] joomlagate commented on #304
OK, I will try to persuade RT developers to modify their file structures and codes.

Thank you.

[2016-04-22 02:45] joomlagate opened #305 "Why the "filter" input box is CASE sensitive?"
#### Steps to reproduce the issue

Today I tried to translate an extension named Snippets with com_localise.
Snippets is downloaded from:
https://www.regularlabs.com/extensions/snippets

After installation of this extension, I went to com_localise backend, and choose client and language, then input "Snippets" into the filter input box of com_localise. Nothing found.

Then I input all-lower-case wo

[2016-04-23 14:47] infograf768 commented on #305
@baijianpeng
Can you test by replacing the file
`ROOT/administrator/components/com_localise/models/translations.php`
by this one (after decompressing):

[translations.php.zip](https://github.com/joomla-projects/com_localise/files/232993/translations.php.zip)

[2016-04-23 15:03] joomlagate commented on #305
Yes, this modified version works fine, now I can filter with any CasE
combination.

Thank you.

白建鹏

https://www.joomlagate.com/

微信公众号：joomlagate
新浪微博： @joomlagate

---

2016-04-23 22:47 GMT+08:00 infograf768 notifications@github.com:

[2016-04-23 15:12] infograf768 commented on #305
Great, please add Test OK here:
https://github.com/joomla-projects/com_localise/pull/306

[2016-04-23 15:41] infograf768 commented on #305
Closing as we have a patch.

[2016-04-23 15:41] #305 closed, assigned to nobody

[2016-04-24 14:08] #302 closed, assigned to nobody

[2016-04-28 13:20] jorgemuralles opened #308 "Translating files"
Hi Folks, I hope you are doing well.

I am wondering if anyone can tell me how the "translate all" tab works.

I am not able to make do anything with my files.

Also, can anyone tell me how to use this extension to create language install archives?

Thank you very much.

Is someone likes to communicate via email, that is great:

info@newporttimesharesrus.com

Jorge Muralles

[2016-04-28 15:39] infograf768 commented on #308
Do you mean by "translate all" the new feature that lets you create a new language from any installed language?

[2016-04-28 15:50] infograf768 commented on #308
Oh, I see what you mean:

![screen shot 2016-04-28 at 17 48 07](https://cloud.githubusercontent.com/assets/869724/14892045/7462c5be-0d69-11e6-878c-7cf3038d321a.png)

This is a remaining of the older com_localise to let users use Bing for Translating.
We have not looked at that at all and I personally do not know at all how it would work.

[2016-04-28 17:32] jorgemuralles commented on #308
Thanks for getting back to me.

Why do I have that tab.

Did I install an olderversion of the software?

Does the tab teanslate all work?

I have been translating everything manually.

Thanks

Jorge Muralles

-----Original Message-----
Date:2016-04-28 11:50:40From:notifications@github.comTo:com_localise@noreply.github.comCc:info@newporttimesharesrus.com; author@noreply.github.comSubject:Re: [jooml

[2016-04-28 23:22] jorgemuralles commented on #308
Hi there.

I meant the "Translate all" tab when I click the "strings" bookmark for a language file.

See attachment.

-----Original Message-----
Date:2016-04-28 11:39:05From:notifications@github.comTo:com_localise@noreply.github.comCc:info@newporttimesharesrus.com; author@noreply.github.comSubject:Re: [joomla-projects/com_localise] Translating files (#308)Do you mean by "translate all" the new fea

[2016-04-29 01:49] joomlagate opened #309 "how to hide the "check if you set complete" pop-up warning?"
#### Steps to reproduce the issue

Each time I save the translation in com_localise, after click on the Save button, there will show a pop-up dialog remind me to check if I had set "complete" on the details Tab.

This pop-up is annoying, it forces me to click the "OK" button on that pop-up message,  but there is no option to disable or hide it.
#### Expected result

I hope there is an option to al

[2016-04-29 09:41] infograf768 commented on #308
Yes, I understood that. See above.
Looks like it requires specific keys to enter in the Component Options, i.e needs subscribing to microsoft service. I do not have such keys.

[2016-04-29 10:23] infograf768 commented on #309
Hmm, this imply getting the php parameter into js.

[2016-04-29 15:33] infograf768 commented on #309
I can do that, but, again, another parameter...

[2016-04-29 15:37] jorgemuralles commented on #308
Thank you very much.

Jorge Muralles

-----Original Message-----
Date:2016-04-29 05:41:45From:notifications@github.comTo:com_localise@noreply.github.comCc:info@newporttimesharesrus.com; author@noreply.github.comSubject:Re: [joomla-projects/com_localise] Translating files (#308)Yes, I understood that. See above.
Looks like it requires specific keys to enter in the Component Options, i.e needs subsc

[2016-04-30 17:53] infograf768 commented on #309
@Valc
The code is ready here (quite simple). Do you agree I add this parameter in the component Options?

[2016-05-01 08:03] Valc commented on #309
I think that if you have to include it as an option it should be enabled by default, due for me that reminder is very useful (It saves me time and mistakes). But, if other persons does not like use the popup window they can go to disable it by Options and also can get their taste with that popup.

Regards, Valc.

[2016-05-01 08:42] infograf768 commented on #309
Sure, would be enabled by default.
Will make a PR

[2016-05-01 16:14] infograf768 commented on #309
Please test https://github.com/joomla-projects/com_localise/pull/310

[2016-05-01 16:14] #309 closed, assigned to nobody

[2016-06-03 13:45] hennysmafter opened #311 "Option to disable warning messages!"
Dear @infograf768 ,

Thank you for this really good extension. It is nice to have installed on a development server and saves such a huge amount of time!

I would like to request a feature as I believe it is not possible yet. If I am wrong about this let me know.

So we use sometimes the language files to show warnings in the backend of Joomla. We do it in the language file as it keeps everything

[2016-06-11 07:44] infograf768 commented on #311
Looking into it.

[2016-06-11 08:21] infograf768 commented on #311
The problem is that, although a value on multiple lines does work, it throws the error, in com_localise as well as in Joomla core.

[2016-06-11 14:11] elkuku commented on #311
Only PHP doesn't complain...

[2016-06-11 14:28] mbabker commented on #311
I don't know where core PHP lists all rules for INI files, but at a minimum JLanguage (and any related tools) should respect [these notes](http://php.net/manual/en/function.parse-ini-string.php#refsect1-function.parse-ini-string-notes) regarding the `parse_ini_string()` function.  Anything beyond that is arguably a Joomla enforced thing.

[2016-06-12 07:34] infograf768 commented on #311
In http://php.net/manual/en/function.parse-ini-file.php (`parse_ini_file()` not `parse_ini_string()` ) I found:
Changelog

[2016-10-03 08:58] joomlagate opened #312 "Is hash key symbol (#) allowed in Joomla language key?"
#### Steps to reproduce the issue

open the backend language file of Easyblog component:

filename: **en-GB.plg_easyblog_pagebreak.ini** , line 13 is:

`PLG_PAGEBREAK_PAGE_#="Page %s"
`
When translating this file with localise v4.0.21dev, localise component will show warning message that this line is wrong: the "#" symbol (AKA "Number Sign") should NOT in a language key.
#### System information (a

[2016-10-03 12:00] mbabker commented on #312
As of 3.6.3 you can run `JFactory::getLanguage()->debugFile($filename);` and that will tell you if the file passes core's rules (this is the same debug code that runs in 3.6.2 and earlier when the file is parsed but now made available as a separate public API).

The line format is expected to pass https://github.com/joomla/joomla-cms/blob/3.6.3-rc1/libraries/joomla/language/language.php#L932

[2016-10-03 12:41] joomlagate commented on #312
Can you just confirm that if the following line is correct or wrong ( because com_localise reported it as error) :

`PLG_PAGEBREAK_PAGE_#="Page %s"`

[2016-10-03 12:43] mbabker commented on #312
I don't know, I can't regex my way out of a wet brown paper bag.

[2017-01-27 13:59] uzielweb opened #314 "Update language files in Transifex"
The files resources in english needs update in Transifex.
And, please update the language files in GitHub with Transifex translations.

[2017-03-19 13:27] joomlagate opened #315 "bug : "Failed to parse time string" if the date string contains Chinese language character"
#### Steps to reproduce the issue

in any Joomla language file (ini format) , write some Chinese language character in the date string after the comment symbol like:

`; @date        三 2013`

#### Expected result

com_localise will ignore anything it can not parse in "comments" and go on to open that language file for editing.

#### Actual result

com_localise refuse to open that language file and

[2017-03-19 13:39] joomlagate opened #316 "feature request: better rule to treat "#" symbols at the line begnning"
#### Steps to reproduce the issue

If the reference language file (ini format) contains "#" symbol which was put at the beginning of a line (the old way for "comments symbol"), com_localise will NOT save those lines in the translation language file when saving.

#### Expected result

I hope com_localise will convert "#" comments to ";" comments instead of REMOVING them.

#### Actual result

com_lo

[2017-03-19 15:01] mbabker commented on #316
Per http://php.net/manual/en/configuration.file.php `#` comments are deprecated and removed in PHP 7.

Honestly though, I don't think the component should attempt to auto-convert these things.  That seems like it's asking for trouble.

[2017-05-02 19:02] ferino75 opened #317 "ini_restore() has been disabled"
#### Steps to reproduce the issue
Select language - click to Files

#### Expected result

#### Actual result
Warning: ini_restore() has been disabled for security reasons in /home/users/ferino/manager.maweb.eu/web/administrator/components/com_localise/helpers/localise.php on line 698

Warning: ini_restore() has been disabled for security reasons in /home/users/ferino/manager.maweb.eu/web/administr

[2017-06-27 13:06] ferino75 opened #318 "Phoca Commander - Error in file"
#### Steps to reproduce the issue
Hi, I attach Slovak package for Phoca Commander
package works fine, but I got error in Localise component
"Error on line 310"
[sk-SK.com_phocacommander_j30.zip](https://github.com/joomla-projects/com_localise/files/1105335/sk-SK.com_phocacommander_j30.zip)

#### Expected result

#### Actual result

#### System information (as much as possible)
Joomla 3.7.2
com_loc

[2017-10-14 04:59] uzielweb commented on #314
I have update all language files for englis in Transifex. Please pay attention to your language.

[2017-10-14 04:59] #314 closed, assigned to nobody

[2017-10-14 05:01] uzielweb opened #319 "Please update language files for brazilian portuguese in github"
The language files are very old

I have update all language resources files in Transifex
I have created a package for Brazilian Portuguese to latest version. Please update in GitHub
The link for download is: https://www.pontomega.com.br/images/downloads/pt-BR_localise_4.0.31-dev.zip

@infograf768

[2017-12-19 10:19] infograf768 commented on #319
@uzielweb
Done and sorry for delay. Had not received mail.

[2017-12-19 10:19] #319 closed, assigned to nobody

[2017-12-19 10:24] infograf768 commented on #318
Sorry, never received a mail for this issue. Looking now

[2017-12-19 10:39] infograf768 commented on #318
@ferino75

the main broken string is
[code]

By using the `Source` button it shows you all errors in red
![screen shot 2017-12-19 at 11 29 04](https://user-images.githubusercontent.com/869724/34152754-f4fbe844-e4af-11e7-9bff-94ec585e32cf.png)

as you can see, you have extraneous spaces in `" _QQ _ "` as it should be `"_QQ_"`

You have also another issue which com_localise will point out as it is v

[2017-12-19 10:54] infograf768 commented on #317
@ferino75
See https://github.com/phpmd/phpmd/issues/445

Your host may have disabled this function although it is unnecessary when using a php version different than 5.1.6

[2018-01-19 11:00] ModDM opened #326 "When you edit a translation ini file, will this work as an override?"
When you edit a translation ini file using your extension, will this work as an override?
That means, when you update extensions or languages in Joomla, will all edits within the Localise extension be destroyed and undone? How to make changes permanent, so that they never will be destroyed by software updates?

[2018-01-19 11:09] ModDM opened #327 "Invalid argument supplied for foreach() in"
Just installed com_localise-4.0.31-dev.zip in my Joomla installation.
After installation I go to back-end > Components > Localise (click on that) and on the page of your component I see at the top this error:

Warning: Invalid argument supplied for foreach() in joomla\administrator\components\com_localise\models\languages.php on line 211

What does this mean and what do I have to do?

[2018-01-20 07:18] infograf768 commented on #327
the code line is
`				foreach ($folders as $folder)`
where `$folder` has the value of the language tag, i.e. fr-FR, de-DE, etc.
Which Joomla version are you using? And which languages are installed?

[2018-01-20 07:23] infograf768 commented on #326
No.
Localise (or core) let's create overrides.
If one modifies an ini file which is part of a pack, next time the pack will be updated, the changes will be lost.

[2018-02-16 18:54] Sukinoz opened #328 "it will not work without reading, writing and renaming rights on the language directories and files."
i am trying to copy Spanish-Spain to create Spanish-Mexico

But, I dont understand what do you mean with this sentence:

Thanks

[2018-03-16 13:44] sloanthrasher opened #329 "Image "author" in readme has errors and can't be displayed."
#### Steps to reproduce the issue
View the readme on GitHub

#### Expected result
Image is displayed correctly in browser

#### Actual result
Browser displays an error message:
The image “https://raw.githubusercontent.com/joomla-projects/translate-joomla/master/images/structure/actors.png” cannot be displayed because it contains errors.

#### System information (as much as possible)

#### Addition

[2018-03-16 15:01] infograf768 commented on #329
I have taken off that part from the readme as the image it refers to does not exist anymore

[2018-03-16 15:01] #329 closed, assigned to nobody

[2018-03-16 15:02] infograf768 commented on #328
I was speaking about the necessary permissions for the language directory and files.

[2018-03-16 15:06] infograf768 commented on #328
It is real easy now in com_localise to create a pack containing the same translations values as another existing pack with a different ISO code.
Did you succeed or do you need help?

[2018-03-16 15:40] Sukinoz commented on #328
Success!
Should be core for joomla 4!

[2018-03-17 06:18] #328 closed, assigned to nobody

[2018-03-22 18:18] ModDM opened #330 "Localise not working, even not opening, after Joomla update to 3.8.6"
Dear Sir / Madam,

Previous time you asked these questions, so let me answer those:
Which Joomla version are you using?
- 3.8.6

And which languages are installed?

- Dutch (nl-NL)
- English (en-GB)

Although my previous issue was already solved very soon, it seems Localise is not working when you update to Joomla 3.8.6. (This is a new issue). I used to work successfully before the update to this

[2018-03-22 18:21] ModDM commented on #330
My Localise version: 4.0.32-dev

[2018-03-22 18:40] ModDM commented on #330
Strange. For some reason the whole vendor folder was missing. I uploaded the folder again and now it's solved. Depending on what you prefer you can close or delete this ticket / rename it / whatever you want (because while looking back, the title gives incorrect information - your extension works correct).

[2018-03-24 10:22] infograf768 commented on #330
Tks for reporting and finding the issue. Closing indeed.

[2018-03-24 10:22] #330 closed, assigned to nobody

[2018-05-03 19:49] Valc opened #332 "Issue setting the inslatation folder field value."
#### Steps to reproduce the issue
Create any  folder to install Joomla than contain same name than one of the "exclude" list at "installation" field founded at config.xml file.
In my case my folder to install Joomla was called "joomla_test" than was matching with one to exclude called "test".

#### Expected result
Be able to list my renamed  "_installation" folder that is not in "exclude" list.

#

[2018-05-03 20:31] Valc commented on #332
Nope, this goes out of my control.

Only moddify to "^test$" to solve my issue has been working due it is simply ignoring my regular expresion with a folder name than really does not exists at my Joomla folder.

Now that i have applied regular expresions for all folders cases to ignore, the "installation folder" field is allowing me select "administrator" and others realy presents at my Joomla fol

[2018-06-29 14:34] rimvydukas opened #333 "444 permission issue"
#### Steps to reproduce the issue
Hi,
When I edit some language file and when I save it, file's permissions change from 644 to 444. Is it a bug or a feature and how can I prevent files permissions from changing? Thanks.

#### Expected result

644 permissions on the language file

#### Actual result

444 permissions on the language files

#### System information (as much as possible)

Joomla 3.7.5,

[2018-06-29 14:59] infograf768 commented on #333
This is a parameter in the component Options.
<img width="802" alt="screen shot 2018-06-29 at 16 58 42" src="https://user-images.githubusercontent.com/869724/42099472-c9b1db58-7bbd-11e8-8388-cb17beb55c9a.png">

[2018-06-29 15:06] rimvydukas commented on #333
Very nice:) This option is set to 0644 but files permissions are still changed to 444 for existing files and for a new ones:)

[2018-07-02 09:44] infograf768 commented on #333
Sorry. I can't reproduce your issue.

[2018-08-30 12:26] sgagner opened #334 "Protected Strings"
When translating with Localise, some files are marked in red and (Strings protection) and it is not possible to make any translation.
I have investigated both source and target file but they are similar to each other.
What causes the file to be protected in this way?

/Stefan Gagner - Sweden

[2018-09-11 07:44] dieskim opened #335 "Allow Empty / Blank Strings - Dont re-load origin string if string saved as empty"
#### Steps to reproduce the issue

1. Open a component language file
2. save a string as blank / empty
3. Load the language file again to edit other strings

#### Expected result

1. Strings saved as blank/empty remains blank

#### Actual result

1. String re-loads from origin file

#### Additional comments

1. There are use cases for blank/empty language strings as some languages dont need all la

[2018-09-12 06:16] infograf768 commented on #335
will test asap.

[2018-09-17 14:24] infograf768 commented on #335
@dieskim

I confirm your findings. Not sure we should consider it as an issue.
A simple way to get rid of the problem in your case is to enter a space in the field.
In this case, com_localise will consider the field as translated.

[2018-09-18 08:57] dieskim commented on #335
@infograf768 - yes I can use a space, but then the space gets output in the actual output code, and this can at times get pretty ugly, espessially if you have two or 3 language strings next to each other

If for Example:

`
$chapterTitle = JText::_('COM_CHAPTER_TITLE_PREFIX_SEPERATOR') . JText::_('COM_CHAPTER_TITLE_SEPERATOR') . JText::_('COM_CHAPTER_TITLE_CHAPTERNAME') . $chapterNumber;
`

In som

[2018-09-18 13:48] infograf768 commented on #335
I then suggest you use `&#8203;` the zero width space: https://www.fileformat.info/info/unicode/char/200B/index.htm in the field. It should work for your needs.

I used it below between `separator` and `12`

separator&#8203;12

[2018-09-27 06:57] raunhar opened #336 "Azerbijani language"
Is it possible to create Azerbijani language pack for Joomla 3.8

[2018-09-27 11:03] infograf768 commented on #336
com_localise lets create new packs by copying existing ones, and just modifying the language tag (in your case to az-AZ).
But this feature will not translate for you the strings used.
You would still have to translate the strings (in com_localise too) before making an installable pack.

[2019-12-29 00:58] AyelGoth opened #337 "Possibility to remove translations strings not found in the original"
Many times we find that they update components and remove strings from the original language. So those strings are not necessary in the translation language but they remain loaded the same.

The component should identify and highlight those strings that are not in the original language and give the user the possibility to delete them from the translation language.

[2019-12-29 06:49] infograf768 commented on #337
Are you speaking of core components?
Can you give a precise example?

[2019-12-30 10:50] infograf768 commented on #337
Normally, when editing the file strings from the normal translations manager, you will see 2 accordeon slides instead of one if there is a string in the local file which does not exist in the master.
In this case, you should Close and edit the file through the raw editing.
At the bottom of the editor, you will see the part concerned and can delete it and save.

[2020-07-03 08:59] tkdjex opened #338 "wrong link in update-server.xml"
#### Steps to reproduce the issue
use Joomla updater to update com_localise

#### Expected result
Updated extension

#### Actual result
error, no update

#### System information (as much as possible)
generic Joomla notification that extension cannot be updated

#### Additional comments
https://github.com/joomla-projects/com_localise/blob/develop/update-server.xml there's the wrong link in the xml

[2020-07-09 15:25] omega20st opened #339 "Problem with transliteration from Bulgarian to Latin"
#### Steps to reproduce the issue

Need help with transliteration. When unicode is off and title of article is in cyrillic then url take only id number of the article, other part im cyrillif miseed> When unicode is on url take cyrillic title in cyrillic. Transliteration dont work. Need help please

#### Expected result

#### Actual result

#### System information (as much as possible)

#### Additi

[2020-07-12 06:08] infograf768 commented on #339
@omega20st
Joomla version? If the language does not contain a custom transliterate method in the xx-XX.localise.php file, then it is a normal behavior in J3. BTW it is not the id of the article, but the date which is used as alias.
This is solved in J4 where one does not need the transliterate method.

Here is the transliteration method we use for French (fr-FR). It transliterate cyrillic.
You can

[2020-07-12 06:16] infograf768 commented on #339
Note: Bulgarian 3.6.5.2 language pack DOES contain a transliterate method for Cyrillic in bg-BG.localise.php.

Are you using another language to work on your site? If yes, then add the method in that language localise.php

[2020-07-12 06:20] infograf768 commented on #338
@tkdjex
There was a github problem a few days ago. Unrelated to com_localise.
It is solved now. Please test again.

[2021-06-08 20:13] qhilen opened #340 "Localise and Joomla 4"
Will there be localise for Joomla 4 and if so, when :-)?
Anyone know something? It would be very useful right now.

[2021-07-10 16:40] wilsonge commented on #340
I've added some initial support and released it. This at least gets most the views up and running. Let me know if you have any issues and I'll try and fix them :)

[2021-07-27 07:36] fontanil commented on #340
@wilsonge
Why not to use and improve the version from infograf789? https://github.com/infograf768/j4localise (if he agrees)
As I said in French in his issue tab, file names must start with a capital letter in the "Fields" folder

I tried your version on a J4RC5-dev and very few translation files are displayed.

[2021-08-26 05:23] infograf768 commented on #340
Can't believe this is now proposed as an update...
@fontanil
Valc and I are working on https://github.com/infograf768/j4localise and almost there.

[2021-09-25 06:52] infograf768 commented on #340
We now just released a beta5 as it was urgent to cope with new strings containing `:` in the key.
https://github.com/infograf768/j4localise/releases/tag/5.0.0-beta5

This 4.10 version created by @wilsonge should be modified to not be proposed as an update to former version and should only be installable on a 3.x site.
Many reasons for that: missing core strings, github no more present as default i

[2021-10-08 11:19] Valc commented on #340
@wilsonge
Also note that this package you have as "release" is installable on Joomla 3 because it seems that the "script.php" (install.php) that checks the version of Joomla and PHP is not currently included there (or not working or taking in mind the target version).

When on august i received the "update" from my translations site in Joomla 3, the com_localise became unusable, and come back to t

[2021-11-11 08:28] yaroslaw74 opened #342 "Error saving translation"
## Steps to reproduce the issue
Editing a translation

#### Expected result
Saving edited translation

#### Actual result
No saving occurs. Editing can only be done with a text editor.

#### System information (as much as possible)
Joomla ver 3.10.3
com_localise ver 4.1.0

#### Additional comments
With version 3.8 this was not the case, after updating to 4.1 there was a problem, after rolling back

[2021-11-11 08:40] infograf768 commented on #342
See https://github.com/joomla-projects/com_localise/issues/340

Please delete version 4.10 and install version 4.0.38-dev
https://github.com/joomla-projects/com_localise/releases/tag/4.0.38-dev

[2021-11-12 16:53] YODAstudio opened #343 "403 Forbidden - Access to this resource on the server is denied!"
Hello everybody.

First of all, I'm using Joomla! 3.9.24 and Localise 4.0.31 with a website in Italian language.
I have trouble editing some of the .ini files. I can open language files and edit the translations, but there's nothing more I can do. Clicking on "save" or "close" I get a 403 error page with the message in the subject.
As far as I'm concerned, it happens only with Joomla! main file.in

[2021-11-13 09:59] infograf768 commented on #343
You should first update to https://github.com/joomla-projects/com_localise/releases/tag/4.0.38-dev by installing https://github.com/joomla-projects/com_localise/releases/download/4.0.38-dev/com_localise-4.0.38-dev.zip and test again.

Do NOT update to 4.10 as it may not work OK.

BTW J 3.9.24 is an older release (Jan 06, 2021) and you may want to update J .

If you still have the error, usual caus

[2021-11-14 10:07] YODAstudio commented on #343
Hello there and thanks for answering.
I've partially done what you suggested but it still doesn't work. Localise in now v. 4.0.38 but I can't update Joomla! since I may have issues with other not updated extensions.
The weird stuff is that the problem is just with few of the .ini files (the ones I mentioned before), but all the rest are working fine.
May be this caused by a corrupted .htaccess fil

[2021-11-14 10:45] Valc commented on #343
@YODAstudio
Large files edition can to be issued due "max_imput_vars" is set by server config with a default value = '1000'.

But your error message does not match with the issue.

When this one happens at "translations" view is noticed displaying a system message alerting about it and only is posible edit that files in 'raw mode'.

Maybe you can try to set the '`max_imput_vars`' directive to `'10